Django~=3.2.14
psycopg2==2.9.3
commonmark==0.9.1
easy-thumbnails~=2.8.1
django-widget-tweaks~=1.4.12
djangorestframework~=3.13.1
ed25519==1.5
confusable-homoglyphs==3.2.0
requests==2.28.1
django-cors-headers==3.13.0
