{% load static humanize safetext cando %}
<article class="media">
	<div class="media-left">
		<figure class="image is-64x64">
			{% include "components/user-avatar.html" with object=comment.user %}
		</figure>
	</div>
	<div class="media-content">
		<div class="content">
			<p>
				<strong>{{ comment.user.username }}</strong> <small>{{ comment.created|naturaltime }}</small>
				<br>
				<div class="comment-text">
					{% if comment.deleted %}
					<del>(deleted)</del>
					{% else %}
					{{ comment.text|safetext }}
					{% endif %}
				</div>
			</p>
		</div>
	</div>
	{% if comment.deleted and comment|can:user|use:'undelete' or not comment.deleted and comment|can:user|use:'delete' %}
	<div class="media-right" data-url="{% url 'gallery:edit-comment' submission_pk=object.pk pk=comment.pk %}">
	</div>
	{% endif %}
</article>
