{% extends "gallery/base.html" %}

{% load static %}
{% load cando safetext %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block gallery_subtitle %}<span id="group-title" data-slug="{{ group.slug }}">{{ object.title }} Group</span>{% endblock %}

{% block extrascripts %}{{ block.super }}
{% if group|can:user|use:'edit' %}
	<script src="{% static 'js/group-membership-edit.js' %}"></script>
{% endif %}
{% endblock %}

{% block mainsection %}
<article class="media">
	<div class="media-left">
		<figure class="image is-128x128">
			{% if object.logo %}
			<img src="{{ object.logo.url }}" alt="">
			{% else %}
			<img src="{% static "/images/avatar-placeholder.jpeg" %}" alt="">
			{% endif %}
		</figure>
	</div>
	<div class="media-content">
		<p> <strong>{{ group.title }}</strong> </p>

		<div class="content">
			{{ object.description|safetext }}
		</div>
		
		<p>
		{% if group.website %}
			<a href="{{ group.website }}"><span class="icon"><i class="fa fa-home"></i></span> homepage</a>
		{% endif %}
		{% if group.server_address %}
			<a href="drawpile://{{ group.server_address }}/"><span class="icon"><i class="fa fa-paint-brush"></i></span> server</a>
		{% endif %}
		</p>
			
		
	</div>
	{% if group|can:user|use:'edit' %}
	<div class="media-right">
		<p><a href="{% url "gallery:group-edit" slug=object.slug %}" class="button is-link"><span class="icon"><i class="fa fa-edit"></i></span> <span>Edit</span></a></p>
	</div>
	{% endif %}
</article>

<div class="columns">

	<div class="column is-one-quarter">
		<h3 class="gallery-section-title title is-4">Members</h3>
		
		{% if pending_members %}
			<div class="notification is-info has-text-centered">
				<a href="{% url 'gallery:group-pending' slug=object.slug %}">
					{% if pending_members > 1 %}There are {{ pending_members }} new join requests{% else %}There is a new join request{% endif %}
				</a>
			</div>
		{% endif %}
		
		{% if my_membership == 'banned' %}
			<p class="notification is-danger has-text-centered">You have been banned from this group</p>
		{% else %}
			<div class="is-pulled-right">
			{% if my_membership == 'pending' %}
				<a href="{% url 'gallery:group-leave' slug=object.slug %}" class="button is-danger"><span class="icon"><i class="fa fa-sign-out"></i></span> <span>Cancel</span></a>
			{% elif my_membership == 'member' or my_membership == 'mod' %}
				<a href="{% url 'gallery:group-leave' slug=object.slug %}" class="button is-danger"><span class="icon"><i class="fa fa-sign-out"></i></span> <span>Leave</span></a>
			{% elif user.is_authenticated %}
				<form action="{{ object.get_absolute_url }}" method="POST">
					<button class="button is-link"><span class="icon"><i class="fa fa-sign-in"></i></span> <span>Join</span></button>
					<input type="hidden" name="action" value="join">
					{% csrf_token %}
				</form>
			{% endif %}
			</div>
		{% endif %}
		
		<ul id="group-member-list">
		{% for member in members %}
		<li{% if member.user != user %} data-id="{{ member.id }}" data-mod="{{ member.is_mod }}"{% endif %}>
			<a href="{% url 'gallery:userpage' pk=member.user_id %}">{{ member.user.username }}</a>
			{% if member.is_mod %}<span class="tag is-info is-rounded">mod</span>{% endif %}
		</li>
		{% endfor %}
		</ul>
		
		{% if banned_members %}
		<br>
		<h4 class="title is-5">Bans</h4>
		<ul id="group-ban-list">
		{% for member in banned_members %}
		<li data-id="{{ member.id }}">
			<a href="{% url 'gallery:userpage' pk=member.id %}">{{ member.user.username }}</a>
		</li>
		{% endfor %}
		</ul>
		{% endif %}
	</div>{# /.column #}
	<div class="column">
		<h3 class="gallery-section-title title is-4">Recent Drawings</h3>
		
		<div class="thumbnail-container">
			{% for submission in page_obj.object_list %}
			{% include "gallery/__submission_thumbnail.html" %}
			{% empty %}
			<p>Nothing here yet!</p>
			{% endfor %}
		</div>{# /.thumbnail-container #}

		{% include "components/paginator.html" %}
	</div>

{% endblock %}

