{% extends "gallery/base.html" %}

{% block title %}Groups - {{ block.super }}{% endblock %}

{% block gallery_subtitle %}Groups{% endblock %}

{% block mainsection %}

<table class="table">
<thead><tr>
	<th>Name</th>
	<th>Members</th>
	<th>Submissions</th>
	<th>Website</th>
	<th>Server</th>
</tr></thead>
<tbody>{% for object in object_list %}
<tr>
	<td><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></td>
	<td>{{ object.member_count }}</td>
	<td>{{ object.submission_count }}</td>
	<td>{{ object.website }}</td>
	<td>{{ object.server_address }}</td>
</tr>
{% empty %}
<tr>
	<td colspan=3>No groups have been created yet!</td>
</tr>
{% endfor %}</tbody>
</table>

{% endblock %}

