{% extends "gallery/base.html" %}

{% load static %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block gallery_subtitle %}{{ object.title }} Group{% endblock %}

{% block mainsection %}

<h2 class="title is-3">Group join requests</h2>

{% for applicant in applicants %}
<div class="box">
	<h3 class="title is-4"><a href="{% url 'gallery:userpage' pk=applicant.user.id %}">{{ applicant.user.username }}</a></h3>
	<div class="level">
	{% for submission in applicant.submissions %}
		<div class="level-item">
			{% include "gallery/__submission_thumbnail.html" %}
		</div>
	{% endfor %}
	</div>{# /.level #}
	
	<form action="{% url 'gallery:group-pending' slug=object.slug %}" method="POST">
		<input type="hidden" name="user" value="{{ applicant.user.id }}">
		<div class="field is-grouped">
			<div class="control">
				<button name="action" value="induct" class="button is-link">Accept</button>
			</div>
			<div class="control">
				<button name="action" value="reject" class="button is-warning">Reject</button>
			</div>
			<div class="control">
				<button name="action" value="ban" class="button is-danger">Ban</button>
			</div>
		</div>
		{% csrf_token %}
	</form>
</div>
{% endfor %}

{% endblock %}

