{% extends "gallery/base.html" %}

{% load static humanize %}
{% load widget_tweaks %}
{% load markdown %}

{% block title %}New Group - {{ block.super }}{% endblock %}

{% block gallery_subtitle %}New Group{% endblock %}

{% block mainsection %}
<form method="POST" action="{% url 'gallery:group-new' %}">
<div class="columns">

<div class="column is-three-quarters">
	<div class="field">
		<label class="label">Group title</label>
		<div class="control">
			{% render_field form.title class+="input" %}
		</div>
		{% if form.errors.title %}
		<div class="help is-danger">{{ form.errors.title }}</div>
		{% endif %}
		<p class="help">Note: group title cannot be changed afterwards</p>
	</div>

	<div class="field">
		<label class="label">Group introduction</label>
		<div class="control">
			{% render_field form.description class+="textarea" %}
		</div>
		{% if form.errors.description %}
		<div class="help is-danger">{{ form.errors.description }}</div>
		{% endif %}
	</div>

	<div class="field">
		<label class="label">Home server address</label>
		<div class="control">
			{% render_field form.server_address class+="input" %}
		</div>
		{% if form.errors.title %}
		<div class="help is-danger">{{ form.errors.server_address}}</div>
		{% endif %}
		<div class="help">You can enter the hostname of your group's home server if you wish to show it on the group page.</div>
	</div>

	<div class="field">
		<label class="label">Website address</label>
		<div class="control">
			{% render_field form.website class+="input" %}
		</div>
		{% if form.errors.title %}
		<div class="help is-danger">{{ form.errors.website }}</div>
		{% endif %}
		<div class="help">If your group has a website, a link can be shown on the group page.</div>
	</div>
</div>

<div class="column">
	<div class="field">
		<label class="label">Options</label>
		<div class="control">
			<label class="checkbox">
				{% render_field form.approve_joins class+="checkbox" %}
				Moderator must approve new members
			</label>
		</div>
	</div>{# /.field #}
</div>

</div>{# /.columns #}

<div class="field is-grouped">
	<div class="control">
		<button name="action" value="publish" class="button is-link">Create</button>
	</div>
</div>

{% csrf_token %}
</form>

{% endblock %}

