{% extends "gallery/base.html" %}

{% load static humanize %}
{% load safetext cando %}

{% block title %}{{ object.title|default:"Untitled" }} - {{ block.super }}{% endblock %}

{% block gallery_subtitle %}{{ object.title|default:"Untitled" }} by {{ object.uploaded_by.username }}{% endblock %}

{% block extrascripts %}
{{ block.super }}
{% if user.is_authenticated %}
	<script src="{% static 'js/gallery-submission.js' %}"></script>
{% endif %}
{% endblock %}

{% block mainsection %}

<div class="gallery-view has-text-centered{% if not object.is_visible %} hidden{% endif %}">
	{% if not submission.is_visible %}
	<span class="submission-hidden">
		<span class="icon"><i class="fa fa-eye-slash"></i></span> Hidden
	</span>
	{% endif %}
{% with content=object.content %}
{# TODO include type specific template here, once other types are supported #}
	{% if content.downscaled %}
		<img src="{{ content.downscaled.url }}">
	{% else %}
		<img src="{{ content.fullsize.url }}">
	{% endif %}
{% endwith %}
</div>

{# Actions #}
{% if user.is_authenticated %}
<div class="level">
	<div class="level-item">
{% if is_favorited %}
		<a href="#" data-url="{% url 'gallery:change-submission-favorite' pk=object.pk %}" data-action="unfavorite" class="button is-white" id="favorite-btn">
			<span class="icon"><i class="fa fa-heart-o"></i></span>
			<span>Remove from favorites</span>
		</a>
{% elif object.uploaded_by != user %}
		<a href="#" data-url="{% url 'gallery:change-submission-favorite' pk=object.pk %}" data-action="favorite" class="button is-white" id="favorite-btn">
			<span class="icon"><i class="fa fa-heart"></i></span>
			<span>Add to favorites</span>
		</a>
{% endif %}
	</div>
	<div class="level-item">
		<a href="{{ object.content.get_download_url }}" class="button is-white">
			<span class="icon"><i class="fa fa-download"></i></span>
			<span>Download Full Size</span>
		</a>
	</div>
	{% if object|can:user|use:'edit' %}
	<div class="level-item">
		<a href="{% url 'gallery:edit-submission' pk=object.pk %}" class="button is-white">
			<span class="icon"><i class="fa fa-pencil"></i></span>
			<span>Edit</span>
		</a>
	</div>
	{% endif %}
	{% comment %} TODO
	<div class="level-item">
		<a href="#" class="button is-white">
			<span class="icon"><i class="fa fa-exclamation-triangle"></i></span>
			<span>Report</span>
		</a>
	</div>
	{% endcomment %}
</div>{# /.level #}
{% endif %}

{# Common submission info #}
<div class="columns">
<div class="column is-three-quarters">
	<div class="media">
		<figure class="media-left">
			{% include "components/user-avatar.html" with object=object.uploaded_by %}
		</figure>
		<div class="media-content">
			<strong>{{ object.title|default:"Untitled" }}</strong><br>
			by <a href="{% url 'gallery:userpage' pk=object.uploaded_by.id %}">{{ object.uploaded_by.username }}</a>
			{% with grouplist=object.groups.all %}
				{% if grouplist %}@
				{% for group in grouplist %}
				<a href="{{ group.get_absolute_url }}">{{ group }}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
				{% endif %}
			{% endwith %}
			<br>

			<div class="content">
				{{ object.description|safetext }}
			</div>
		
		</div>
	</div>{# /.media #}
</div>{# /.column #}
<div class="column">
	<div class="notification">
		{#<p><span class="icon"><i class="fa fa-eye"></i></span> Views: 0</p>#}
		<p><span class="icon"><i class="fa fa-heart"></i></span> Favorites: {{ object.favorited_by.count }}</p>
		<p><span class="icon"><i class="fa fa-calendar"></i></span> Submitted: {{ object.created|date }}</p>
		<p><span class="icon"><i class="fa fa-file"></i></span> Size: {{ object.content.filesize|filesizeformat }}</p>
		{% comment %} TODO
		<p><span class="icon"><i class="fa fa-tags"></i></span> Tags:</p>
		{% endcomment %}
		
	</div>
</div>{# /.column #}
</div>{# /.columns #}

{# Comments #}
<h4 class="title is-5" id="comments">Comments</h5>

{% if user.is_authenticated and object.is_commenting_enabled and object.is_visible %}
<div class="box">
	<article class="media">
		<div class="media-left">
			<figure class="image is-64x64">
				{% include "components/user-avatar.html" with object=user %}
			</figure>
		</div>
		<div class="media-content">
			<div class="content">
				<form method="post" action="{% url 'gallery:comment-submission' pk=object.pk %}">
				<div class="field">
					<div class="control">
						<textarea class="textarea" name="comment" id="my-comment-textarea" placeholder="New comment"></textarea>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input type="submit" value="Comment" class="button" id="submit-comment">
					</div>
				</div>
				{% csrf_token %}
				</form>
			</div>
		</div>
	</article>
</div>
{% endif %}

{% for comment in object.comment_set.all %}
<div class="box comment-box{% if comment.deleted %} deleted{% endif %}">
{% include "gallery/__submission_comment.html" %}
</div>
{% empty %}
<p>No comments yet</p>
{% endfor %}

{% endblock %}

