{% extends "communities/base.html" %}

{% block main %}
<section class="section">
<div class="container">

<div class="has-text-centered content">

<h2>
	{% if content_rating == "adult" %}
		<em>{{ object.title }}</em> is an NSFM-only community
	{% else %}
		Show NSFM sessions of <em>{{ object.title }}</em>
	{% endif %}
</h2>

<p>Sessions hosted here may contain artwork with serious topics that are not suitable for minors.</p>

<p>You must be at least eighteen years old to access it.</p>

<form action="{% url "communities:confirm-age" slug=object.slug %}" method="POST" class="disable-button-on-submit">
<p class="has-text-centered">
	{% csrf_token %}
	<button type="submit" class="button is-large is-danger is-outlined">I am over 18 years old</button>
	{% if content_rating == "adult" %}
		<a href="{% url "communities:frontpage" %}" class="button is-large">Go back</a>
	{% else %}
		<a href="{% url "communities:community" slug=object.slug %}" class="button is-large">Go back</a>
	{% endif %}
</p>
</form>

</div>

</div> {# /.container #}
</section>
{% endblock %}

