{% extends "communities/base.html" %}

{% load commonmark %}

{% block main %}
<section class="section">
<div class="container">
<div class="columns">
<div class="column is-three-quarters">

<h2 class="title">Common Community Guidelines</h2>

<div class="content">{% filter commonmark_full %}
The following guidelines apply to the [official community servers](/communities/) and any sessions listed on them. These are just the ground rules, the individual servers may have more.

If you disagree with these, you can [set up your own server](/help/server/) instead and make your own rules. If you need help doing this, check out [the help page](/help/)!

### Protection of Minors

* A "minor" is any person under the age of 18. No exceptions.
* Sessions that contain content inappropriate for minors must be marked as "not suitable for minors" (NSFM). This includes, for example, nudity, obscenity or strong violence.
* Session operators must remove minors from NSFM sessions if they become aware of them and should report this incident.

### Content Restrictions

* Content, titles, usernames or hostnames that are not appropriate for minors are only allowed in sessions marked NSFM.
* Racist, homophobic, transphobic or otherwise hateful content as well as the depiction of nazi insignia is forbidden.
* Sexual or suggestive depictions of minors, such as "loli" or "shota" content, is forbidden. This includes furry ("cub") content.
* Distribution of real, actually illegal content or links to it is strictly forbidden and will be reported to the authorities. This includes, for example, personal information ("doxing"), confidential documents, malware, pirated software or real photos of minors in sexual situations.
* If your session includes more extreme content, you must put a password on it to avoid users stumbling into it by accident. This includes, for example, strong violence, non-consensual activities or feral animals in suggestive situations.
* Session operators must remove inappropriate content and should report such incidents.

### Behavior

* Be nice. If you can't be nice, be civil.
* Session titles, usernames and hostnames must not be offensive or disruptive.
* Don't share stuff other people made publicly without asking for their permission. If you stream a session, put a warning in the title.
* Don't insult, harass or stalk any people or groups. Don't grief or otherwise disrupt sessions.
* If your session is open to the public, run it responsibly. If you want a private session, set a password on it.

### Enforcement

* "Moderators" are the people who run [the official community servers](/communities/). They try to be courteous, but if you act confrontational, they probably won't be nice in return.
* A moderator may interrupt your session if it's reported or there's something wrong with it. They'll leave again once the issue is resolved.
* Some rules, such as what's considered inappropriate content, are down to interpretation. Moderators have to make a call here, what they say counts. It's okay to tell them if you disagree, but they probably won't get into lengthy discussions about it.
* More serious infractions may lead to a temporary or permanent ban from one or more [official community servers](/communities/) and/or your account on this website. You can continue to use Drawpile in that case, just not here.
{% endfilter %}</div>{# /.content #}

</div>{# ./column #}
</div>{# ./columns #}
</div>{# ./container #}
</section>
{% endblock %}

