{% extends "communities/base.html" %}

{% load static %}

{% block main %}
<section class="section">
<div class="container">

<h2 class="title">Communities</h2>

<div class="content">
	<p>These are servers provided by the Drawpile community. You can find public sessions to join and host your own sessions on them. Note that <em>these are external servers and drawing sessions</em> not provided by Drawpile itself, refer to their rules and policies when using them!</p>
	<p>When using these servers, you have to follow <a href="{% url "communities:ccg" %}">the common community guidelines</a>. The communities may also have their own additional rules listed on their pages below.</p>
	<p>If you find any community or session to be in violation of any guidelines, use the "report community" button on their respective pages or by getting into contact via the places listed <a href="/help/">on the help page</a>.</p>
	{% if user.is_authenticated %}
		<p>If you run your own Drawpile server and want it to become a community, you can <a href="{% url "communities:ych" %}">submit it for inclusion here</a>.</p>
	{% else %}
		<p>If you run your own Drawpile server and want to submit it as a community, please <a href="/accounts/login">sign in</a> first.</p>
	{% endif %}
</div>

<div class="community-list">

{# TODO implement pagination once needed #}

{% for object in community_list %}
<article class="card {% if object.status != 'accepted' %} unpublished{% endif %}">{% url "communities:community" slug=object.slug as community_url %}
	<div class="card-image community-banner">
		<figure class="image is-2by1">
			<a href="{{ community_url }}">
				<img src="{{ object.badge.url  }}" width=400 height=200 alt="">
			</a>
			{% if object.status == "submitted" %}<p class="awaiting-review">Awaiting review</p>
			{% elif object.status == "resubmit" %}<p class="changes-needed">Changes requested</p>
			{% elif object.status == "rejected" %}<p class="rejected">Rejected!</p>
			{% endif %}
		</figure>
	</div>
	<div class="community-card-fields">
		{% if object.guests_allowed %}
			<div title="You don't need an account to join sessions on this server.">
				<span class="fas fa-sign-in-alt"></span>
				anyone can join
			</div>
		{% else %}
			<div title="You need an account to join sessions on this server.">
				<span class="fas fa-sign-in-alt"></span>
				account required to join
			</div>
		{% endif %}

		{% if object.host_policy == 'all-host' and object.guests_allowed %}
			<div title="You don't need an account to host sessions on this server.">
				<span class="fas fa-server"></span>
				anyone can host
			</div>
		{% elif object.host_policy == 'all-host' or object.host_policy == 'account-host' %}
			<div title="You need an account to host sessions on this server.">
				<span class="fas fa-server"></span>
				account required to host
			</div>
		{% elif object.host_policy == 'member-host' %}
			<div title="You need an account to host sessions on this server and must be a member of this community.">
				<span class="fas fa-server"></span>
				membership required to host
			</div>
		{% else %}
			<div title="Only users chosen by the owner are allowed to host sessions on this server.">
				<span class="fas fa-server"></span>
				only select users can host
			</div>
		{% endif %}

		{% if object.content_rating == 'sfw' %}
			<div title="This server does not allow artwork not suitable for minors (NSFM).">
				<span class="fas fa-tags"></span>
				NSFM forbidden
			</div>
		{% elif object.content_rating == 'mixed' %}
			<div title="Sessions containing artwork not suitable for minors must be (NSFM).">
				<span class="fas fa-tags"></span>
				NSFM permitted if marked
			</div>
		{% else %}
			<div title="This server is only for users age 18 and over, regardless of artwork being drawn. All sessions must be marked not suitable for minors (NSFM).">
				<span class="fas fa-tags"></span>
				NSFM only
			</div>
		{% endif %}

		{% if object.web_policy == 'manual' %}
			<div title="Only sessions manually approved can be joined via web browser.">
				<span class="fas fa-globe"></span>
				web browser limited
			</div>
		{% elif object.web_policy == 'passworded' %}
			<div title="Only sessions with a password can be joined via web browser.">
				<span class="fas fa-globe"></span>
				web browser only with password
			</div>
		{% elif object.web_policy == 'open' %}
			<div title="Any session can be joined via web browser.">
				<span class="fas fa-globe"></span>
				web browser allowed
			</div>
		{% else %}
			<div title="This server does not allow joining sessions via web browser.">
				<span class="fas fa-globe"></span>
				no web browser support
			</div>
		{% endif %}

		{% if object.account_host %}
			{% if object.account_host == 'drawpile.net' %}
				<div title="You can use your account from this website on this server. Your usernames will be reserved.">
					<span class="fas fa-user-circle"></span>
					drawpile.net accounts
				</div>
			{% else %}
				<div title="This server uses an external account system. You can't use your drawpile.net account here.">
					<span class="fas fa-user-circle"></span>
					external {{ object.account_host }} accounts
				</div>
			{% endif %}
		{% else %}
			<div title="This server doesn't use accounts at all.">
				<span class="fas fa-user-circle"></span>
				no accounts
			</div>
		{% endif %}
	</div>
	<div class="card-content">
		<h3><a href="{{ community_url }}">{{ object.title }}</a></h3>
		{{ object.short_description }}
	</div>
</article>
{% endfor %}

{% if user.is_authenticated %}
<article class="card">
	<div class="card-image community-banner">
		<figure class="image is-2by1">
			<a href="{% url "communities:ych" %}">
				<img src="{% static "images/ych.png" %}" width=400 height=200 alt="">
			</a>
		</figure>
	</div>
	<div class="card-content">
		<h1><a href="{% url "communities:ych" %}">Your Community Here?</a></h1>
		<p>Submit your community to be included here</p>
	</div>
</article>
{% endif %}

</div>{# /.community-list #}

</div> {# /.container #}
</section>
{% endblock %}

