{% extends "communities/base.html" %}

{% load static %}

{% block main %}
<section class="section">
<div class="container">

<h2 class="title">Communities</h2>

<div class="community-list">

{# TODO implement pagination once needed #}

{% for object in community_list %}
<article class="card {% if object.status != 'accepted' %} unpublished{% endif %}">{% url "communities:community" slug=object.slug as community_url %}
	<div class="card-image community-banner">
		<figure class="image is-2by1">
			<a href="{{ community_url }}">
				<img src="{{ object.badge.url  }}" width=400 height=200 alt="">
			</a>
			{% if object.status == "submitted" %}<p class="awaiting-review">Awaiting review</p>
			{% elif object.status == "resubmit" %}<p class="changes-needed">Changes requested</p>
			{% elif object.status == "rejected" %}<p class="rejected">Rejected!</p>
			{% endif %}
		</figure>
	</div>
	<div class="card-content">
		<h1><a href="{{ community_url }}">{{ object.title }}</a></h1>
		{{ object.short_description }}
	</div>
</article>
{% endfor %}

{% if user.is_authenticated %}
<article class="card">
	<div class="card-image community-banner">
		<figure class="image is-2by1">
			<a href="{% url "communities:ych" %}">
				<img src="{% static "images/ych.png" %}" width=400 height=200 alt="">
			</a>
		</figure>
	</div>
	<div class="card-content">
		<h1><a href="{% url "communities:ych" %}">Your Community Here?</a></h1>
		<p>Submit your community for inclusion at drawpile.net</p>
	</div>
</article>
{% endif %}

</div>{# /.community-list #}

</div> {# /.container #}
</section>
{% endblock %}

