{% extends "communities/base.html" %}

{% load commonmark %}
{% load static %}
{% load widget_tweaks %}
{% load cando %}

{% block extrascripts %}
<script src="{% static "js/sessionlist.min.js" %}"></script>
<script src="{% static "js/community.min.js" %}"></script>
{% endblock %}

{% block main %}
{% if object.status != 'accepted' %}
<section class="hero {% if object.status == 'rejected' %}is-danger{% else %}is-warning{% endif %}">
	<div class="hero-body">
		<div class="container">
{% if object.status == 'submitted' %}
			<p>This submission is awaiting review by site admins.</p>

			{% if review_form %}
			<p>Hey, <i>you're a site admin!</i> You can review this page:</p>
			<form method="POST" action="{% url "communities:review" slug=object.slug %}" class="disable-button-on-submit">
				{% include "components/radio-field.html" with field=review_form.verdict %}
				{% with field=review_form.comment %}<div class="field">
					<label class="label" for="{{ field.id_for_label }}">{{ field.label }}</label>
					<div class="control">{% render_field field class+="textarea" rows=2 %}</div>
				</div>{% endwith %}

				<p><input type="submit" class="button is-primary" value="Review"></p>
				{% csrf_token %}
			</form>
			{% endif %}
{% elif object.status == 'resubmit' %}
			<p>Admins have requested changes before this community can be published:</p>
			<p>{{ object.review_message }}</p>
{% elif object.status == 'rejected' %}
			<p>This community has been rejected:</p>
			<p>{{ object.review_message }}</p>
{% endif %}
		</div>
	</div>
</section>
{% endif %}

<section class="section">
<div class="container">

<div class="notification content">
	<p>
		Community servers are <em>external servers and drawing sessions</em> not provided by Drawpile itself. Check their rules and policies before using them. If a community or session violates any guidelines, use <a href="#abuse-report-button">the "report community" button below</a> or any of the contact options <a href="/help/">on the help page</a> to report it.
	</p>
</div>

<div class="content">
	<p><a href="{% url "communities:frontpage" %}">&larr; Back to community list</a></p>
</div>

<h2 class="title">{{ object.title }}</h2>

<div id="community-page-content">

<div id="community-page-main">
<div class="content">
{{ object.full_description|commonmark_safe }}

<h3>Rules</h3>

<p>The rules from <a href="{% url "communities:ccg" %}">the common community guidelines</a> apply to this and all other communities.</p>

{{ object.rules|commonmark_safe }}

</div>{# /.content #}


</div>{# /#community-page-main #}

<div id="community-box">
	<div class="community-banner">
		<img src="{{ object.badge.url }}" alt="">
	</div>

	<div class="box-section has-text-centered">
		{% if object.homepage %}
		<a class="button is-link is-medium" href="{{ object.homepage }}{% if object.content_rating != 'sfw' and am_adult %}{% if "?" in object.homepage %}&{% else %}?{% endif %}nsfm=true{% endif %}">
			<span class="icon"><i class="fas fa-home"></i></span>
			<span>Website</span>
			</a>
		{% endif %}
		{% if object|can:user|use:"login" %}
		<a class="button is-primary is-medium" href="#community-session-list">
			<span class="icon"><i class="fas fa-sign-in-alt"></i></span>
			<span>Sessions</span>
		</a>
		{% endif %}

	</div>

	<div class="box-section content">
		<p>
			{% if object.guests_allowed %}
				{% if object.host_policy == 'all-host' %}
					Anyone join and host sessions on this server without an account.
				{% elif object.host_policy == 'account-host' %}
					Anyone can join sessions on this server without an account. Hosting sessions requires an account.
				{% elif object.host_policy == 'member-host' %}
					Anyone can join sessions on this server without an account. Hosting sessions requires an account and you must be a member of this community.
				{% else %}
					Anyone can join sessions on this server without an account. Hosting sessions is limited to specific users.
				{% endif %}
			{% else %}
				{% if object.host_policy == 'all-host' or object.host_policy == 'account-host' %}
					An account is required to join and host sessions on this server.
				{% elif object.host_policy == 'member-host' %}
					An account is required to join sessions on this server. Hosting sessions also requires you to be a member of this community.
				{% else %}
					An account is required to join sessions on this server. Hosting sessions is limited to specific users.
				{% endif %}
			{% endif %}
		</p>
		<p>
			{% if object.account_host %}
				{% if object.require_group_membership %}
					You can use <strong>{{ object.account_host }}</strong> accounts on this server and you <strong>must be a member of this group</strong>.
				{% else %}
					You can use <strong>{{ object.account_host }}</strong> accounts on this server.
				{% endif %}
			{% endif %}
		</p>
		<p>
			{% if object.web_policy == 'manual' %}
				Sessions approved by the server owner can be joined via web browser.
			{% elif object.web_policy == 'passworded' %}
				Sessions with a password can be joined via web browser.
			{% elif object.web_policy == 'open' %}
				Any session can be joined via web browser.
			{% else %}
				This server does not support joining sessions via web browser.
			{% endif %}
		</p>
	</div>

	{% if object.content_rating == 'sfw' %} <div class="box-section content-rating sfw">NSFM forbidden</div>
	{% elif object.content_rating == 'mixed' %}<div class="box-section content-rating mixed">NSFM permitted if marked</div>
	{% else %}<div class="box-section content-rating nsfw">NSFM only</div>
	{% endif %}

	{% if user.is_authenticated %}
	{% if membership.status or object.group_policy != 'invite-only' %}
	<div class="box-section has-text-centered">
		{% if not membership.status or membership.status == 'invited' %}
			<p><button class="button is-primary is-medium" disabled id="join-group-button" data-url="{% url "api:community-join" slug=object.slug %}">
				<span class="icon"><i class="fas fa-user-plus"></i></span>
				<span>{% if membership.status == 'invited' %}Accept join invitation{% else %}Join group{% endif %}</span>
			</button></p>
		{% elif membership.status != 'banned' %}
			<p><button class="button is-danger is-small" disabled id="leave-group-button" data-url="{% url "api:community-member" slug=object.slug user=user.username%}" {% if membership.status == 'admin' %}data-admin="true"{% endif %}>
				<span class="icon"><i class="fas fa-user-minus"></i></span>
				<span>{% if membership.status == 'invited' %}Refuse invitation{% elif membership.status == 'pending' %}Cancel join petition{% else %}Leave group{% endif %}</span>
			</button></p>
		{% else %}
			<div class="notification is-danger">
				<p>
					<span class="icon"><i class="fas fa-ban"></i></span>
					<span>You've been banned from this group.</span>
				</p>
				<blockquote>{{ membership.ban_reason }}</blockquote>
			</div>
		{% endif %}

		{% if object.memberlist_visibility != "hidden" %}
		{% if membership.is_member or object.memberlist_visibility == "visible" %}
		<p style="margin-top: 15px"><a href="{% url 'communities:memberlist' slug=object.slug %}" target="_blank" rel="noopener" class="smallNewWindow">Member list</a></p>
		{% endif %}
		{% endif %}
	</div>
	{% endif %}
	{% endif %}

	<div class="box-section content">
		<p><b>Moderators</b></p>
		{% for mod_member in object.moderators %}{% with mod=mod_member.get_mod_username %}
			<span class="avatar-user">
			{% if mod.avatar %}
				<img class="avatar" src="{{ mod.avatar.url }}" alt="">
			{% else %}
				<span class="avatar avatar-placeholder"></span>
			{% endif %}
				<span class="username">{{ mod.name }}</span>
			</span>
		{% endwith %}{% endfor %}
	</div>

	{% if membership.is_admin or perms.communities.change_community %}
	<div class="box-section">
		<p><b>Admin toolbox</b></p>
		<p>
			<a href="{% url "communities:edit" slug=object.slug %}" class="button is-primary is-large" title="Edit">
				<span class="icon"><i class="fas fa-edit"></i></span>
			</a>
			<a href="{% url "communities:memberlist" slug=object.slug %}?edit" target="_blank" rel="noopener" class="button is-primary is-large smallNewWindow" title="Edit member list">
				<span class="icon"><i class="fas fa-users"></i></span>
			</a>
			<a href="{% url "communities:server-help" slug=object.slug %}" class="button is-info is-large" title="Server setup help">
				<span class="icon"><i class="fas fa-info"></i></span>
			</a>
			{% if user.is_staff and perms.communities.change_community %}
			<a href="{% url "admin:communities_community_change" object.id %}" class="button is-danger is-large" title="Show in admin site">
				<span class="icon"><i class="fas fa-hammer"></i></span>
			</a>
			{% endif %}
		</p>
	</div>
	{% endif %}

	{% if can_report %}
	<div class="has-text-centered">
		<p><button disabled class="button is-text" id="abuse-report-button" data-url="{% url "api:community-report-abuse" slug=object.slug %}">
			<span class="icon"><i class="fas fa-circle-notch fa-spin"></i></span>
			<span>Report community</span>
		</button></p>
	</div>
	{% endif %}

</div>{# /#community-box #}

{% if object.list_server %}
<div id="community-session-list">
	<h3 class="is-size-4" style="clear: right">Sessions</h3>

	{% if object|can:user|use:"login" %}
	<div id="community-session-notice" class="notification content is-hidden">
		<p>
			To add these listings to Drawpile's server browser, go to the <strong>Browse</strong> page, click <strong>Add Server</strong> at the bottom and enter <code>{{ object.list_server }}</code>. <span id="community-session-notice-link" class="is-hidden">If you have Drawpile installed, you can also <a href="drawpile://{% if object|can:user|use:"login" %}{{ object.drawpile_server }}{% endif %}/?list-server={{ object.list_server }}">click here to add it</a>.</span>
		</p>
	</div>
	{% endif %}

	<drawpile-session-list list-url="{{ object.list_server }}/sessions/{% if object.content_rating != 'sfw' and am_adult %}?nsfm=true{% endif %}"></drawpile-session-list>
	<hr>
	{% if object.content_rating == 'mixed' and not am_adult %}
		<p class="has-text-right">
			<a href="?nsfm">Enable NSFM sessions</a>
		</p>
	{% endif %}
</div>
{% endif %}

</div>{# /#community-page-content #}

</div> {# /.container #}
</section>
{% endblock %}

