{% extends "base.html" %}

{% block title %}About Drawpile{% endblock %}

{% load commonmark %}

{% block main %}
<section class="section">
<div class="container content">

<div class="columns">
<div class="column is-three-quarters">
<h2>About Drawpile</h2>

{% filter commonmark_full %}

Drawpile is a Free, Libre and Open Source program that lets you draw, paint, sketch and animate together with other people on the same canvas. Basically a drawing program with a multiplayer mode. It can also be used offline, where it's a fast and lightweight drawing program.

### Cross-Platform

You can [download Drawpile for **Windows**, **macOS**, **Linux** and **Android**](/download/).

A [web browser version is also available](https://web.drawpile.net/). This works on just about any platform, including iPad and iPhone.

Drawpile supports [pressure-sensitive drawing tablets](https://docs.drawpile.net/help/tech/tablet) on all platforms.

### Fully-Featured

Drawpile comes with over 200 brushes built-in. It has multiple different brush engine and has a brush editor to [configure your own brushes](https://docs.drawpile.net/help/draw/brushsettings). It also comes with [a stabilizer](https://docs.drawpile.net/help/draw/stabilization) to smoothe out your strokes.

It has layers and layer groups (also known as layer folders) with various different blend modes. It supports [alpha preserve, clipping groups, masking and alpha lock](https://docs.drawpile.net/help/draw/clipping) for rendering and shading pictures.

It also lets you [create animations](https://docs.drawpile.net/help/draw/animation), coming with a timeline and onion skins. You can either work together on a single animation or animate something as part of a larger canvas.

Like in most other programs, you also have tools to make lines, curves and other shapes, as well as selections, transforms and [flood filling](https://docs.drawpile.net/help/draw/floodfill).

If Drawpile doesn't support something you need, you can save your canvas to the OpenRaster (ORA) format, supported by e.g. Krita, MyPaint or GIMP, or to PSD, supported by many proprietary programs, and make your edits or finish off your picture there. You can also paste images directly from files or other programs into your shared canvas.

### Collaborate Online

There's [official community servers](/communities/) where you can [host your sessions](https://docs.drawpile.net/help/common/hosting) for free, without having to set up any server stuff yourself. If you put a password on your session, it will be private for only yourself and anyone that you invite. You can also browse for open sessions at the bottom of those community pages.

If you want to set up a canvas to draw with your friends, host your session on pub.drawpile.net with a password and send them the invite link. If you want to host a public session, you can leave out the password - but read up on [how to run a public session](https://docs.drawpile.net/help/server/sessionoperation) so that you know how to deal with permissions!

### Developed and Operated by Artists

Drawpile is made and run by the people that use it. There's no ads on this website or in the program. We don't want your personal data and you don't need an account for most things. We also don't feed the stuff you draw to some infernal AI.

The program, this website and everything else involved is [free and open source software](https://github.com/drawpile). The code is [owned by the public](https://github.com/drawpile/Drawpile/blob/main/LICENSE.txt), so no one can take Drawpile and make it proprietary. If you want, you can also [set up your own server](https://docs.drawpile.net/help/server/dedicatedserver).

Currently, you can't even pay for Drawpile if you wanted to! Although there will probably be a way to donate to it or letting you support it by buying a version of it on Steam or the Play Store or whatever at some point, since we'd like to keep working on it and maybe not starve. But the folks involved aren't in it for money, so we haven't gotten to setting that stuff up yet.

### Contributing

There's a few different ways to help with Drawpile, such as:

* Helping folks that have questions [on Discord](/discord/) or [IRC](/irc/).
* [Translating Drawpile to other languages](https://hosted.weblate.org/engage/drawpile/).
* Providing pictures that we could use to make this website look a bit prettier.
* Writing or translating stuff for [the help pages](https://drawpile.net/help/).
* Or with programming of course, on the client, server, this website etc.

For more information on how to contribute, take a look [at the Contributing help page](https://docs.drawpile.net/help/development/contributing). It explains things in more detail.

{% endfilter %}

</div>
</div>
</div>
</section>

{% endblock main %}

