{% extends "base.html" %}

{% load static %}
{% load page_tags %}

{% block title %}Download - {{ block.super }}{% endblock %}
{% block extrascripts %}<script src="{% static "js/download.min.js" %}"></script>{% endblock %}

{% block extrameta %}
<meta property="og:type" content="website">
<meta property="og:title" content="Download Drawpile">
<meta property="og:description" content="Drawpile is a Free and Open Source collaborative drawing program that lets multiple people draw, sketch, paint and animate on the same canvas simultaneously.">
<meta property="og:image" content="https://drawpile.net/files/og/logo.png">
{% endblock %}

{% block main %}

{% templatevar 'VERSION' as VERSION %}
{% templatevar 'BETAVERSION' as BETAVERSION %}

<section class="section">
<div class="container">

<div class="tab-container">
<div class="tabs is-centered is-hidden-mobile">
	<ul></ul>
</div>

<div id="Windows" class="tab-page content">
	<h2 data-icon="fab fa-windows">Windows</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-x86_64.msi" class="button is-link"><span class="fab fa-windows"></span>&nbsp;Drawpile {{ VERSION }} Installer</a>
		</div>
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-x86_64.zip" class="button is-link"><span class="fab fa-windows"></span>&nbsp;Drawpile {{ VERSION }} Portable ZIP</a>
		</div>
	</div>
	<p>
		Supported Windows versions are 7, 8, 8.1, 10 and 11. If you run into
		issues, found a bug, want to suggest a feature or ask for help with
		something, <a href="/help/">take a look at the help pages</a>!
	</p>
	<p>
		A 32 Bit version as well as the dedicated server and command-line tools are available under <a href="#Archive"><span class="fas fa-archive"></span>&nbsp;Extras</a>.
	</p>
	<p>
		Free code signing is provided by <a href="https://about.signpath.io/" target="_blank">SignPath.io</a>, certificate by <a href="https://signpath.org/" target="_blank">SignPath Foundation</a>. See the <a href="/codesigningpolicy/">code signing policy</a> for details.
	</p>
	<div class="notification">
		<p>
			<strong>Note 1:</strong> If you get an error about missing the Visual Studio Redistributable or a VCRUNTIME DLL, you need to install those first. They are provided by Microsoft, you can <a href="https://aka.ms/vs/17/release/vc_redist.x64.exe">download them here</a>.
		</p>
		<p>
			<strong>Note 2:</strong> On Windows, you may get a message saying
			<em>SmartScreen prevented an unrecognized app from starting</em>. To
			get rid of this, we'd have to pay Microsoft a lot of money. So for
			now, you have to dismiss the warning yourself: click on <strong>More
			info</strong> underneath the message and then on the <strong>Run
			anyway</strong> button that appears at the bottom.
		</p>
	</div>
</div>

<div id="OSX" class="tab-page content">
	<h2 data-icon="fab fa-apple">macOS</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-arm64.dmg" class="button is-link"><span class="fab fa-apple"></span>&nbsp;Drawpile {{ VERSION }} for Apple Silicon Mac</a>
		</div>
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-x86_64.dmg" class="button is-link"><span class="fab fa-apple"></span>&nbsp;Drawpile {{ VERSION }} for Intel Mac</a>
		</div>
	</div>
	<p>
		If your Mac is too old, you can find Drawpile for older macOS versions under <a href="#Archive"><span class="fas fa-archive"></span>&nbsp;Extras</a>.
	</p>
	<p>
		If you run into issues, found a bug, want to suggest a feature or ask
		for help with something, <a href="/help/">take a look at the help
		pages</a>!
	</p>
	<div class="notification">
		<p>
			<strong>Note 1:</strong> If you don't know whether you have an Apple Silicon Mac or an Intel Mac, take a look at <a href="https://support.apple.com/en-us/116943" target="_blank">Apple's help page about that</a>. If your macOS version is too old to run either of these, you'll have to <a href="#Source">build from source</a>.
		</p>
		<p>
			<strong>Note 2:</strong> On macOS, you will probably get a message saying that Drawpile could not be opened because we are not verified by Apple. To get rid of this, we'd have to pay them money. See <a href="https://docs.drawpile.net/help/tech/installation#macos" target="_blank">these installation instructions</a> on how to open it anyway.
		</p>
	</div>
</div>

<div id="Linux" class="tab-page content">
	<h2 data-icon="icon-drawpile-linux-xenia">Linux</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://flathub.org/apps/net.drawpile.drawpile" target="_blank">
				<img class="flathub" src="{% static "images/getitonflathub.svg" %}" alt="Get it on Flathub">
			</a>
		</div>
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-x86_64.AppImage" class="button is-link linux-download-button"><span class="icon-drawpile-linux-xenia"></span>&nbsp;Drawpile {{ VERSION }} AppImage</a>
		</div>
	</div>
	<p>
		Flatpak comes pre-installed on some Linux distributions and is generally easy to set up. Take a look at <a href="https://flathub.org/setup" target="_blank">the Flathub setup page</a> for how to install it. It does not include the dedicated server or command-line tools. The AppImage is self-contained, but needs to be downloaded and updated manually. To find out how to use it take a look at <a href="https://docs.appimage.org/introduction/quickstart.html" target="_blank">the AppImage manual</a> and <a href="https://docs.appimage.org/user-guide/troubleshooting/fuse.html" target="_blank">troubleshooting page</a>. It includes the client, server and command line tools, run it with <code>--help</code> to see what's included.
	</p>
	<p>
		If you want to set up a server on Linux, take a look at <a href="https://docs.drawpile.net/help/server/dedicatedserver">the dedicated server help page</a>.
	</p>
	<p>
		If you run into issues, found a bug, want to suggest a feature or ask
		for help with something, <a href="/help/">take a look at the help
		pages</a>!
	</p>
</div>

<div id="Android" class="tab-page content">
	<h2 data-icon="fab fa-android">Android</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://f-droid.org/packages/net.drawpile">
				<img class="fdroid" src="{% static "images/getitonfdroid.svg" %}" alt="Get it on F-Droid">
			</a>
		</div>
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-30-34-arm64-v8a.apk" class="button is-link android-download-button"><span class="fab fa-android"></span>&nbsp;Drawpile {{ VERSION }} APK</a>
		</div>
	</div>
	<p>
		Getting Drawpile on F-Droid is recommended over using the APK directly. It will install the correct version for your device automatically and you don't need to manually download updates with it.
	</p>
	<p>
		If you run into issues, found a bug, want to suggest a feature or ask
		for help with something, <a href="/help/">take a look at the help
		pages</a>!
	</p>
	<p>
		APKs for 32 bit and Android 10 and older are available under <a href="#Archive"><span class="fas fa-archive"></span>&nbsp;Extras</a>.
	</p>
	<div class="notification">
		<p>
			<strong>Note:</strong> For the APK, you have to enable apps from
			unknown sources. How exactly this works depends on your device, but
			it should be in the settings somewhere. To get rid of this, we'd
			have to pay Google money.
		</p>
	</div>
</div>

<div id="Browser" class="tab-page content">
	<h2 data-icon="fa fa-globe">Web</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://web.drawpile.net/" class="button is-link" target="_blank"><span class="fa fa-globe"></span>&nbsp;Launch Drawpile Web</a>
		</div>
	</div>
	<p>
		The <a href="https://web.drawpile.net/" target="_blank">Web Browser version of Drawpile</a> should work on all operating systems and most browsers. It's the same applications as the desktop and mobile versions. For iPad and iPhone, it's the only option available because Apple doesn't allow Drawpile in its store.
	</p>
	<p>
		When you invite someone to your session on a server that supports it, the invite page will automatically show them the option to join via browser. You don't need to link them this page.
	</p>
	<p>
		If you have your own server and want to enable connecting to it via the browser, take a look at <a href="https://docs.drawpile.net/help/server/websocket">the WebSocket server setup page</a>.
	</p>
</div>

<div id="Source" class="tab-page content">
	<h2 data-icon="fas fa-code">Source</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/archive/refs/tags/{{ VERSION }}.tar.gz" class="button is-link"><span class="fa fa-code"></span>&nbsp;Drawpile {{ VERSION }} Source Code</a>
		</div>
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile" target="_blank" class="button"><span class="fab fa-github"></span>&nbsp;Drawpile on GitHub</a>
		</div>
	</div>
	<p>
		For instructions on how to build from source, take a look at <a href="https://docs.drawpile.net/help/development/buildingfromsource" target="_blank">the help page on that</a>. If you need help getting it working, <a href="/help/">check this page on how to get in contact</a>!
	</p>
</div>

<div id="Archive" class="tab-page content">
	<h2 data-icon="fas fa-archive">Extras</h2>
	<h3>Server and Tools</h3>
	<p>
		The dedicated server <em>drawpile-srv</em> and the command-line tools <em>dprectool</em>, <em>drawpile-cmd</em> and <em>drawpile-timelapse</em> are available as follows:
	</p>
	<ul>
		<li>For Windows, there's the <a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-Tools-{{ VERSION }}-x86_64.zip"><span class="fab fa-windows"></span>&nbsp;Drawpile Server and Tools {{ VERSION }} Portable ZIP</a>.</li>
		<li>For macOS, they're included in the disk image under <a href="#OSX"><span class="fab fa-apple"></span>&nbsp;macOS</a>.</li>
		<li>For Linux, they're included in the AppImage under <a href="#Linux"><span class="icon-drawpile-linux-xenia"></span>&nbsp;Linux</a>. Run the AppImage with <code>--help</code> for instructions.</li>
	</ul>
	<p>
		Instructions for the dedicated server can be found on <a href="https://docs.drawpile.net/help/server/dedicatedserver">the dedicated server help page</a>.
	</p>
	<h3>32 Bit and Unsupported OS Versions</h3>
	<p>
		32 bit versions are available for Windows and Android. There's also a version for old macOS systems.
	</p>
	<ul>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-x86.msi"><span class="fab fa-windows"></span>&nbsp;Drawpile {{ VERSION }} Installer for 32 Bit Windows</a></li>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-x86.zip"><span class="fab fa-windows"></span>&nbsp;Drawpile {{ VERSION }} Portable ZIP for 32 Bit Windows</a></li>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-23-23-arm64-v8a.apk"><span class="fab fa-android"></span>&nbsp;Drawpile {{ VERSION }} APK for Android 10 and older</a></li>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION  }}/Drawpile-{{ VERSION }}-23-23-armeabi-v7a.apk"><span class="fab fa-android"></span>&nbsp;Drawpile {{ VERSION }} APK for 32 Bit Android</a></li>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION  }}/Drawpile-{{ VERSION }}-Qt5-x86_64.dmg"><span class="fab fa-android"></span>&nbsp;Drawpile {{ VERSION }} APK for macOS older than 12 (Monterey)</a></li>
	</ul>
	<p>
		Free code signing for the Windows client is provided by <a href="https://about.signpath.io/" target="_blank">SignPath.io</a>, certificate by <a href="https://signpath.org/" target="_blank">SignPath Foundation</a>. See the <a href="/codesigningpolicy/">code signing policy</a> for details.
	</p>
	<div class="notification">
		<p>
			<strong>Note 1:</strong> Only use these versions if you <em>know</em> that your device needs them. If not, use the regular Windows or Android versions, those are faster and more stable.
		</p>
		<p>
			<strong>Note 2:</strong> If you get an error on Windows about missing the Visual Studio Redistributable or a VCRUNTIME DLL, you need to install those first. They are provided by Microsoft, you can <a href="https://aka.ms/vs/17/release/vc_redist.x86.exe">download them here</a>.
		</p>
	</div>
	<h3>Checksums</h3>
	<p>
		You can use these checksums to verify integrity of the binaries and source code archives.
	</p>
	<ul>
		<li><a href="https://github.com/drawpile/Drawpile/tree/main/pkg/checksums">Checksums by version on GitHub</a></li>
		<li><a href="/files/checksums/{{ VERSION }}/sha256sums.txt">Drawpile {{ VERSION }} SHA256 checksums</a> (for use with sha256sum)/li>
		<li><a href="/files/checksums/{{ VERSION }}/sha384sums.txt">Drawpile {{ VERSION }} SHA384 checksums</a> (for use with sha384sum)/li>
		<li><a href="/files/checksums/{{ VERSION }}/b2sums.txt">Drawpile {{ VERSION }} BLAKE2b checksums</a> (for use with b2sum)</li>
	</ul>
	<h3>Previous Versions</h3>
	<p>
		All releases are tagged in the git repository. Downloads can be found in the <a href="https://github.com/drawpile/Drawpile/releases" target="_blank"><span class="fab fa-github"></span>&nbsp;Releases on GitHub</a>, in the <em>Assets</em> section at the bottom of each release.
	</p>
</div>
</div>{# ./tab-container #}

<hr>
<p>The downloads on this page are provided through GitHub.</p>

</div>{# ./container #}
</section>

{% endblock main %}

