{% extends "base.html" %}

{% load page_tags %}

{% block title %}Download - {{ block.super }}{% endblock %}
{% block main %}

{% templatevar 'VERSION' as VERSION %}

<section class="section">
<div class="container">

<div class="tab-container">
<div class="tabs is-centered is-hidden-mobile">
	<ul></ul>
</div>

<div id="Beta" class="tab-page content">
	<h2 data-icon="fas fa-flask">Beta</h2>
	<p>Try the Drawpile 2.2 beta! This is version 2.2.0-beta.6, released on July 31, 2023. Choose the download for your platform below.</p>
	<p>If you want to report issues you find in this version, look <a href="/help/">at the help page</a>.</p>
	<p>
		<a href="https://github.com/drawpile/Drawpile/releases/download/2.2.0-beta.6/Drawpile-2.2.0-beta.6.msi" class="button is-primary"><i class="fab fa-windows"></i>&nbsp;Windows Installer</a>
		<a href="https://github.com/drawpile/Drawpile/releases/download/2.2.0-beta.6/Drawpile-2.2.0-beta.6.zip" class="button is-primary"><i class="fab fa-windows"></i>&nbsp;Windows Portable ZIP</a>
		<a href="https://github.com/drawpile/Drawpile/releases/download/2.2.0-beta.6/Drawpile-2.2.0-beta.6.dmg" class="button is-primary"><i class="fab fa-apple"></i>&nbsp;macOS Disk Image</a>
		<a href="https://github.com/drawpile/Drawpile/releases/download/2.2.0-beta.6/Drawpile-2.2.0-beta.6-x86_64.AppImage" class="button is-primary"><i class="fab fa-linux"></i>&nbsp;Linux AppImage</a>
		<a href="https://github.com/drawpile/Drawpile/releases/download/2.2.0-beta.6/Drawpile-2.2.0-beta.6.apk" class="button is-primary"><i class="fab fa-android"></i>&nbsp;Android APK</a>
		<a href="https://github.com/drawpile/Drawpile/archive/refs/tags/2.2.0-beta.6.tar.gz" class="button is-primary"><i class="fa fa-code"></i>&nbsp;Source Code</a>
	</p>
</div>

<div id="Windows" class="tab-page content">
	<h2 data-icon="fab fa-windows">Windows</h2>
	<p>
		Drawpile is available for Windows in 32 and 64 bit versions.
		If you encounter problems with the 64 bit version, try the 32 bit version also.
		Windows Vista and XP are no longer officially supported.
	</p>
	<p><a href="/files/win/drawpile-{{ VERSION }}-setup.exe" class="button is-primary">Drawpile {{ VERSION }} for 64 bit Windows</a></p>
	<p><a href="/files/win/drawpile-{{ VERSION }}-setup-w32.exe" class="button is-primary">Drawpile {{ VERSION }} for 32 bit Windows</a></p>
</div>

<div id="OSX" class="tab-page content">
	<h2 data-icon="fab fa-apple">macOS</h2>
	<p>Minimum supported OSX version is 10.12.</p>
	<p>If you are using macOS 10.10 (Yosemite) or 10.11 (El Capitan), you will have to use version <a href="/files/osx/Drawpile%202.1.7.dmg">2.1.7</a>.</p>
	<p><a href="/files/osx/Drawpile%20{{ VERSION }}.dmg" class="button is-primary">Drawpile {{ VERSION }} for macOS</a></p>
	<div class="notification is-warning">
	<p>
		<b>Note.</b> Because I'm not a registered Apple developer, this package is not signed.
		If you get a message saying the <em>application cannot be opened because it is from
		an unidentified developer</em>, you must add an exception for it. Right click on the
		app and select <em>Open</em>. You should now see the dialog again with the option
		to open the application anyway. After this, macOS will remember your choice
		and not show the warning for this application.
	</p>
	</div>
</div>

<div id="Linux" class="tab-page content">
	<h2 data-icon="fab fa-linux">GNU/Linux</h2>
	<p>The latest Linux version is available via <a href="https://flathub.org/apps/details/net.drawpile.drawpile">Flathub</a>.</p>

	<p>The easiest way to run the dedicated server is to use Docker. A ready-to-use
	image is available via <a href="https://hub.docker.com/r/drawpile/drawpile-srv">Docker Hub</a>.
	For more information, see the <a href="/help/server/">dedicated server help page</a>.
	</p>
</div>

<div id="Source" class="tab-page content">
	<h2 data-icon="fas fa-code">Source code</h2>
	<p>Drawpile source code is available under the <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3 license</a>.
	<p>The latest development version (and all past releases) can be found at <a href="https://github.com/drawpile/Drawpile">GitHub</a>.</p>
	<p><a href="/files/src/drawpile-{{ VERSION }}.tar.gz" class="button is-primary">Drawpile {{ VERSION }} source code</a></p>
</div>

<div id="Archive" class="tab-page content">
	<h2 data-icon="fas fa-archive">Old versions</h2>
	<p>Check the <a href="/help/compatibility/">version compatibility chart</a> to see if you need to use an old version.</a></p>
	<p>Previous stable release:</p>
	<ul>
		<li><a href="/files/win/drawpile-2.0.11.zip">Drawpile 2.0.11 for 64 bit Windows</a> (ZIP package, no installation needed)</li>
		<li><a href="/files/osx/Drawpile%202.0.11-1.dmg">Drawpile 2.0.11 for OSX</a></li>
		<li><a href="/files/appimage/Drawpile-2.0.11.AppImage">Drawpile 2.0.11 AppImage for Linux<a/></li>
		<li><a href="/files/src/drawpile-2.0.11.tar.gz">Drawpile 2.0.11 source code</a></li>
	</ul>
	<p>
		More old releases can be found in the <a href="/files/">release archive</a>.
		All releases are also tagged in the Git repository.
	</p>
</div>
</div>{# ./tab-container #}

</div>{# ./container #}
</section>

{% endblock main %}

