{% extends "base.html" %}

{% load page_tags %}

{% block title %}Download - {{ block.super }}{% endblock %}
{% block main %}

{% templatevar 'VERSION' as VERSION %}

<section class="section">
<div class="container">

<div class="tab-container">
<div class="tabs is-centered is-hidden-mobile">
	<ul></ul>
</div>

<div id="Windows" class="tab-page content">
	<h2 data-icon="fab fa-windows">Windows</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-64bit.msi" class="button is-link"><span class="fab fa-windows"></span>&nbsp;Drawpile {{ VERSION }} Installer</a>
		</div>
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-64bit.zip" class="button is-link"><span class="fab fa-windows"></span>&nbsp;Drawpile {{ VERSION }} Portable ZIP</a>
		</div>
	</div>
	<p>
		Drawpile 2.2.0 is backward-compatible, so you can join sessions hosted with the previous 2.1 series.
	</p>
	<p>
		Supported Windows versions are 7, 8, 8.1, 10 and 11. If you run into
		issues, found a bug, want to suggest a feature or ask for help with
		something, <a href="/help/">take a look at the Help pages</a>!
	</p>
	<div class="notification">
		<p>
			<strong>Note:</strong> On Windows, you may get a message saying
			<em>SmartScreen prevented an unrecognized app from starting</em>. To
			get rid of this, we'd have to pay Microsoft a lot of money. So for
			now, you have to dismiss the warning yourself: click on <strong>More
			info</strong> underneath the message and then on the <strong>Run
			anyway</strong> button that appears at the bottom.
		</p>
	</div>
</div>

<div id="OSX" class="tab-page content">
	<h2 data-icon="fab fa-apple">macOS</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}.dmg" class="button is-link"><span class="fab fa-apple"></span>&nbsp;Drawpile {{ VERSION }} Disk Image</a>
		</div>
	</div>
	<p>
		Drawpile 2.2.0 is backward-compatible, so you can join sessions hosted with the previous 2.1 series.
	</p>
	<p>
		If you run into issues, found a bug, want to suggest a feature or ask
		for help with something, <a href="/help/">take a look at the Help
		pages</a>!
	</p>
	<div class="notification">
		<p>
			<strong>Note:</strong> On macOS, you may get a message saying
			<em>application cannot be opened because it is from an unidentified
			developer</em>. To get rid of this, we'd have to pay Apple money. So
			for now, you have to add an exception yourself: right click on the
			app and select <strong>Open</strong>, you should now see the dialog
			again with the option to open the application anyway.
		</p>
	</div>
</div>

<div id="Linux" class="tab-page content">
	<h2 data-icon="fab fa-linux">Linux</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-x86_64.AppImage" class="button is-link"><span class="fab fa-linux"></span>&nbsp;Drawpile {{ VERSION }} AppImage</a>
		</div>
	</div>
	<p>
		Drawpile 2.2.0 is backward-compatible, so you can join sessions hosted with the previous 2.1 series. To find out how to run the AppImage, take a look at <a href="https://docs.appimage.org/introduction/quickstart.html" target="_blank">the AppImage manual</a> and <a href="https://docs.appimage.org/user-guide/troubleshooting/fuse.html" target="_blank">troubleshooting page</a>. The Flatpak version is currently <a href="https://github.com/flathub/net.drawpile.drawpile/pull/4#issuecomment-1890193057" target="_blank">waiting to be integrated</a>.
	</p>
	<p>
		If you run into issues, found a bug, want to suggest a feature or ask
		for help with something, <a href="/help/">take a look at the Help
		pages</a>!
	</p>
	<p>
		The AppImage includes the dedicated server, which you can run by passing <code>--server</code> as the first argument. There's also other options to run the dedicated server, such as via Docker or by compiling from source, with some scripts provided if you want to set up a server from scratch. For more information, take a look at <a href="https://docs.drawpile.net/help/server/dedicatedserver">the dedicated server help page</a>.
	</p>
</div>

<div id="Android" class="tab-page content">
	<h2 data-icon="fab fa-android">Android</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-arm64-v8a.apk" class="button is-link"><span class="fab fa-android"></span>&nbsp;Drawpile {{ VERSION }} APK</a>
		</div>
	</div>
	<p>
		Drawpile 2.2.0 is backward-compatible, so you can join sessions hosted with the previous 2.1 series.
	</p>
	<p>
		If you run into issues, found a bug, want to suggest a feature or ask
		for help with something, <a href="/help/">take a look at the Help
		pages</a>!
	</p>
	<div class="notification">
		<p>
			<strong>Note:</strong> On Android, you have to enable apps from
			unknown sources. How exactly this work depends on your device, but
			it should be in the settings somewhere. To get rid of this, we'd
			have to pay Google money.
		</p>
	</div>
</div>

<div id="Source" class="tab-page content">
	<h2 data-icon="fas fa-code">Source code</h2>
	<div class="columns is-multiline">
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile/archive/refs/tags/{{ VERSION }}.tar.gz" class="button is-link"><span class="fa fa-code"></span>&nbsp;Drawpile {{ VERSION }} Source Code</a>
		</div>
		<div class="column is-narrow">
            <a href="https://github.com/drawpile/Drawpile/archive/refs/tags/{{ VERSION }}.tar.gz" class="button is-primary"><span class="fa fa-code"></span>&nbsp;Drawpile {{ VERSION }} Source Code</a>
		</div>
		<div class="column is-narrow">
			<a href="https://github.com/drawpile/Drawpile" target="_blank" class="button"><span class="fab fa-github"></span>&nbsp;Drawpile on GitHub</a>
		</div>
	</div>
	<p>
		If you need help with building from source, found a bug, want to suggest
		a feature or ask anything else, <a href="/help/">take a look at the Help
		pages</a>!
	</p>
</div>

<div id="Archive" class="tab-page content">
	<h2 data-icon="fas fa-archive">Other Versions</h2>
	<p>
		32 bit versions are available for Windows and Android.
	</p>
	<ul>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-32bit.msi">Drawpile {{ VERSION }} Installer for 32 Bit Windows</a></li>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-32bit.zip">Drawpile {{ VERSION }} Portable ZIP for 32 Bit Windows</a></li>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/Drawpile-{{ VERSION }}-armeabi-v7a.apk">Drawpile {{ VERSION }} APK for 32 Bit Android</a></li>
	</ul>
	<div class="notification">
		<p>
			<strong>Note:</strong> Only use these 32 bit versions if you <em>know</em> that your device needs them. If not, use the regular Windows or Android versions, those are faster and more stable.
		</p>
	</div>
	<p>
		You can get the previous Drawpile version 2.1.20 here. Support for this version will go away in the future though, so if you are having issues with 2.2, <a href="/help/">report them now</a> so that they can be resolved before that happens. You do <em>not</em> need this version to join sessions hosted with Drawpile 2.1, Drawpile 2.2 is compatible with them.
	</p>
	<ul>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/2.1.20/drawpile-2.1.20-setup.exe">Drawpile 2.1.20 Installer for Windows</a></li>
		<li><a href="https://github.com/drawpile/Drawpile/releases/download/2.1.20/Drawpile.2.1.20.dmg">Drawpile 2.1.20 Disk Image for macOS</a></li>
		<li><a href="https://flathub.org/apps/details/net.drawpile.drawpile">Drawpile 2.1.20 Flatpak for Linux</a></li>
	</ul>
	<p>
		For systems that require it, there's a <a href="https://github.com/drawpile/Drawpile/releases/download/{{ VERSION }}/drawpile-2.1.20-setup-w32.exe">Drawpile 2.1.20 Installer for 32 Bit Windows</a>. Do not use this unless you know you need it.
	</p>
	<p>
		Even older releases can be found in the <a href="https://github.com/drawpile/Drawpile/releases" target="_blank">Releases on GitHub</a>. The <em>Assets</em> in each release contain the downloads.
	</p>
	<p>
		All releases are also tagged in the git repository.
	</p>
</div>
</div>{# ./tab-container #}

<hr>
<p>The Downloads on this page are provided through GitHub.</p>

</div>{# ./container #}
</section>

{% endblock main %}

