{% extends "base.html" %}

{% load news_tags %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="Drawpile.net news" href="{% url "news:atom-feed" %}" />
{% endblock %}

{% block extrameta %}
<meta property="og:type" content="website">
<meta property="og:title" content="Drawpile">
<meta property="og:description" content="Drawpile is a Free and Open Source collaborative drawing program that lets multiple people draw, sketch, paint and animate on the same canvas simultaneously.">
<meta property="og:image" content="https://drawpile.net/files/og/logo.png">
{% endblock %}

{% block main %}

{# Hero section #}
<section class="hero is-light">
	<div class="hero-body">
		<div class="container">
			<div class="content is-large">
				<strong>Drawpile</strong> is a collaborative drawing program
				that lets multiple people draw, sketch, paint and animate on the
				same canvas simultaneously. It's Free and Open Source software
				available for Windows, macOS, Linux and Android. There's also a
				Web version that works on all platforms, including iOS.
			</div>
			<a href="/download/" class="button is-link is-large">
				<span class="fa fa-download"></span>&nbsp;Download&nbsp;Drawpile
			</a>
		</div>
	</div>
</section>

{# Show latest news post #}
<section class="section">
<div class="container">

{% news_article '_latest' %}
{% include "news/__post.html" %}
{% endnews_article %}

</div>
</section>

{% endblock main %}

