{% extends "base.html" %}

{% load news_tags %}

{% block extrahead %}
    <link rel="alternate" type="application/atom+xml" title="Drawpile.net news" href="{% url "news:atom-feed" %}" />
{% endblock %}

{% block extrameta %}
<meta property="og:type" content="website">
<meta property="og:title" content="Drawpile">
<meta property="og:description" content="Drawpile is a Free and Open Source collaborative drawing program that lets multiple people draw, sketch, paint and animate on the same canvas simultaneously.">
<meta property="og:image" content="https://drawpile.net/files/og/logo.png">
{% endblock %}

{% block main %}

<section class="hero is-light">
	<div class="hero-body">
		<div class="container">
			<div class="content is-large">
				<p><strong>Drawpile</strong> is a collaborative drawing program that lets multiple people draw, sketch, paint and animate on the same canvas simultaneously. It's Free and Open Source software available for Windows, macOS, Linux and Android. There's also a Web version that you can run directly in your browser, which works on all platforms, including iPads.</p>
			</div>
			<div class="columns is-multiline">
				<div class="column is-narrow">
					<a href="/download/" class="button is-link is-large is-fullwidth">
						<span class="icon"><span class="fas fa-download"></span></span>
						<span>Download Drawpile</span>
					</a>
				</div>
				<div class="column is-narrow">
					<a href="https://web.drawpile.net/" class="button is-large is-light is-inverted is-fullwidth">
						<span class="icon"><span class="fas fa-globe"></span></span>
						<span>Launch Drawpile Web</span>
					</a>
				</div>
			</div>
			<div class="columns is-multiline">
				<div class="column is-narrow">
					<a href="/about/" class="button is-fullwidth">
						<span class="icon"><span class="fas fa-info-circle"></span></span>
						<span>Learn More</span>
					</a>
				</div>
				<div class="column is-narrow">
					<a href="/help/" class="button is-fullwidth">
						<span class="icon"><span class="fas fa-question-circle"></span></span>
						<span>Help, Feedback, Bug Reports</span>
					</a>
				</div>
				<div class="column is-narrow">
					<a href="https://donate.drawpile.org/" target="_blank" class="button is-info is-fullwidth">
						<span class="icon"><span class="fas fa-heart"></span></span>
						<span>Donate</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
<div class="container">

{% news_article '_latest' %}
{% include "news/__post.html" %}
{% endnews_article %}

</div>
</section>

{% endblock main %}

