{% extends "base.html" %}

{% load static %}

{% block title %}Servers - {{ block.super }}{% endblock %}
{% block extrahead %}<link href="{% static "css/listings-widget.css" %}" rel="stylesheet">{% endblock %}
{% block extrascripts %}<script src="{% static "js/listings-widget.js" %}"></script>{% endblock %}
{% block main %}

<section class="section">
<div class="container">

<div class="columns">
<div class="column is-half content">
<h2>Public sessions</h2>
	<p>
		If you are hosting a public session, you can announce it on a listing server
		by checking the Announce checkbox in the Host dialog.
		The default listing server is the one here at drawpile.net.
	</p>

	<p>
		You can join an announced session directly from Drawpile
		by clicking on the Find button in the Join dialog.
	</p>

	<p>
		Note. If you announce a public, non password-protected drawing session
		containing adult content, please tag it as such, either by adding a
		keyword to the title and/or setting the NSFM checkbox.
	</p>
</div>

<div class="column">
	<div id="session-list" data-url="/api/listing/sessions/?protocol=15.6,dp:4.20.1"></div>
</div>
</div>{# ./columns #}

<div class="columns">
<div class="content column is-half">
	<h2>Tips</h2>
	<p>
		Session announcement works by sending a notification to the listing
		server and updating it while the session is live. An announcement will
		be removed if it has not been updated for a few minutes.
	</p>
	<p>
		A list server and a drawpile server are different things. Drawpile server
		is the thing that hosts the actual session. The list server just hosts a
		list of links to active sessions. (There is both a list server and a
		drawpile server here at drawpile.net)
	</p>
	<p>
		If you get a message from the announcement server saying your <b>host address
		is an IPv6 address</b>, that’s just the server letting you know that your
		public address is an IPv6 address. At the moment,
		<a href="https://www.google.com/intl/en/ipv6/statistics.html">global IPv6 adoption</a>
		is only around 16%, so many people may not be able to connect to your session.
	</p>
	<p>
		If you get a message saying <b>max listing count exceeded</b>, it means you have
		reached the limit of simultaneous active session announcements for this
		server. In order to minimize spam, only three active announcements are
		accepted per server. However, the limit is increased if your server has
		a domain name! Any domain name, including a free one from no-ip.com or
		the like will do, as long as the name resolves to your server’s IP address.
		Just set the <code>--local-hostname</code> argument on your server.
	</p>
</div>
<div class="content column is-half">
	<h2>Public server</h2>
	<p>
		A free to use server is available at drawpile.net.
		To host a session there, select the <i>Remote</i> option in the Host dialog and
		enter <kbd>drawpile.net</kbd> in the text box.
	</p>
	<p>
		This public server is provided primarily for the benefit of those who are unable
		to host sessions on their own computers. It has limited capacity, so please be
		considerate of others and try not to monopolize the available space.
	</p>
	<p>Before using the server, please read these <strong>terms of use</strong>:</p>
	<ul>
		<li>Do not share any illegal material</li>
		<li>No harassment of other users</li>
		<li>If your session contains adult content, please tag it as NSFM</li>
		<li>This is a public server. There is no privacy even in password protected sessions. Sessions may be recorded for testing, development and/or moderation purposes.</li>
		<li>Copyright of each contribution belongs to the artist. Ask for permission before reposting.</li>
	</ul>
	<p>Violating these rules may result in an IP ban.</p>
</div>

</div>{# ./columns #}

</div>{# ./container #}
</section>

{% endblock main %}

