{% extends "base.html" %}

{% block extrameta %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ post.title }} - Drawpile">
<meta property="og:description" content="News from {{ post.publish|date }} by {{ post.author_name }}">
<meta property="og:image" content="https://drawpile.net/files/og/logo.png">
{% endblock %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block main %}

<section class="section">
<div class="container">
{% if not object.is_visible %}
	<div class="notification is-danger has-text-centered">
		Hidden
	</div>
{% endif %}

	{% include "news/__post.html" with readmore='True' %}

</div>{# ./container #}
</section>

{% endblock main %}

