@media screen and (max-width: 380px) {
	#drawpile-navbar-banner {
		width: 200px;
		max-width: 200px;
		height: 50px;
		max-height: 50px;
	}
}

@media screen and (min-width: 381px) and (max-width: 500px) {
	#drawpile-navbar-banner {
		width: 300px;
		max-width: 300px;
		height: 75px;
		max-height: 75px;
	}
}

@media screen and (min-width: 501px) {
	#drawpile-navbar-banner {
		width: 400px;
		max-width: 400px;
		height: 100px;
		max-height: 100px;
	}
}

article {
	margin-bottom: 20px;
}

.thumbnail-link>img {
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}

.rd-margin {
	margin: 0 1em 1em 0;
}

pre.console {
	background: #000;
	color: #b2b2b2;
}

span.avatar-placeholder {
	box-sizing: border-box;
	border: 3px dashed #999;
	border-radius: 6px;
	display: inline-block;
	width: 64px;
	height: 64px;
	background-image: url(../images/avatar-placeholder.jpeg);
	background-size: contain;
}

.avatar-user {
	display: inline-block;
	width: 105px;
	margin: 8px;

	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.avatar-user>.avatar {
	display: block;
	margin: 0 auto;
}

.initial-fade-in {
	animation: initial-fade-in-frames 0.5s;
}

@keyframes initial-fade-in-frames {
    from { opacity: 0; }
    to { opacity: 1; }
}

img.fdroid {
	height: 3em;
}

.android-download-button  {
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

/* bulma adjustments */
button.button.is-text {
	text-decoration: none;
}

/* custom fontawesome-esque icons */
@font-face {
  font-family: 'drawpile';
  src: url('../font/drawpile.eot');
  src: url('../font/drawpile.eot#iefix') format('embedded-opentype'),
       url('../font/drawpile.woff2') format('woff2'),
       url('../font/drawpile.woff') format('woff'),
       url('../font/drawpile.ttf') format('truetype'),
       url('../font/drawpile.svg#drawpile') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "drawpile";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-drawpile-linux-xenia:before { content: '\e801'; }
