.navbar-item img{
	max-height: 100px;
}

article {
	margin-bottom: 20px;
}

.thumbnail-link>img {
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}

.rd-margin {
	margin: 0 1em 1em 0;
}

pre.console {
	background: #000;
	color: #b2b2b2;
}

span.avatar-placeholder {
	box-sizing: border-box;
	border: 3px dashed #999;
	border-radius: 6px;
	display: inline-block;
	width: 64px;
	height: 64px;
	background-image: url(../images/avatar-placeholder.jpeg);
	background-size: contain;
}

.avatar-user {
	display: inline-block;
	width: 105px;
	margin: 8px;

	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.avatar-user>.avatar {
	display: block;
	margin: 0 auto;
}

.initial-fade-in {
	animation: initial-fade-in-frames 0.5s;
}

@keyframes initial-fade-in-frames {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* bulma adjustments */
button.button.is-text {
	text-decoration: none;
}
