.navbar-item img{
	max-height: 100px;
}

article {
	margin-bottom: 20px;
}

.thumbnail-link>img {
	box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2);
}

.rd-margin {
	margin: 0 1em 1em 0;
}

pre.console {
	background: #000;
	color: #b2b2b2;
}

span.avatar-placeholder {
	box-sizing: border-box;
	border: 3px dashed #999;
	border-radius: 6px;
	display: inline-block;
	width: 64px;
	height: 64px;
	background-image: url(../images/avatar-placeholder.jpeg);
	background-size: contain;
}

/* bulma adjustments */
button.button.is-text {
	text-decoration: none;
}