from base64 import b64decode

SECRET_KEY = ''
DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'dpweb.db',
#        'ENGINE': 'django.db.backends.postgresql',
#        'NAME': 'dpweb',
    }
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
#EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

# Discord webhook URL for site admin notifications and alerts
#ADMIN_REPORT_WEBHOOK = 'https://localhost/report/'

# Allowed frame-ancestors for Content-Security-Policy, separated by spaces.
DRAWPILE_AUTH_FRAME_ANCESTORS = 'https://web.drawpile.net'

DRAWPILE_READONLY_SITE = False
# Disables all email-sending forms.
DRAWPILE_EMAIL_MAINTENANCE = False
# Allows showing those email-sending forms anyway by adding a ?override query
# parameter with this value. Choose an unguessable string here. You should
# switch the email sending to the dummy sender during the maintenance so that
# you can copy the email stuff out of the logs and send it manually.
DRAWPILE_EMAIL_MAINTENANCE_OVERRIDE = "tetriandoch"

# Keys that allow access to /api/ext-bans and /api/monitor-config respectively.
# Should be plain, random strings, one per client so that they can be revoked.
# Leave a comment which key is for what.
DRAWPILE_EXT_BANS_KEYS = []
DRAWPILE_MONITOR_KEYS = []

# Configuration for drawpile-monitor, equivalent [config] and [messages]
# sections in an ini file for it. All values must be strings!
DRAWPILE_MONITOR_CONFIG = {}
DRAWPILE_MONITOR_MESSAGES = {}

# Commands to run to get drawpile-monitor status and reload it, as argv strings.
DRAWPILE_MONITOR_STATUS_COMMAND = []
DRAWPILE_MONITOR_RELOAD_COMMAND = []

# Maximum number of total emails allowed to be sent in 24 hours.
DRAWPILE_EMAIL_MAX_TOTAL_PER_DAY = 50
# Maximum number of total emails allowed to be sent in one hour.
DRAWPILE_EMAIL_MAX_TOTAL_PER_HOUR = 15
# Maximum number emails allowed to be sent in one hour to a single address.
DRAWPILE_EMAIL_MAX_ADDRESS_PER_HOUR = 3

# Rejected usernames and email addresses.
DRAWPILE_USERNAME_REJECTIONS = []
DRAWPILE_EMAIL_REJECTIONS = []

# CORS Headers
# Allow requests from the web client.
CORS_ALLOWED_ORIGINS = ["https://web.drawpile.net"]

DRAWPILE_FEDI_LINKS = [
    (None, ["https://example.com/@drawpile"]),
]
