SECRET_KEY = ''
DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'dpweb',
    }
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
#EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

# Discord webhook URL for site admin notifications and alerts
#ADMIN_REPORT_WEBHOOK = 'https://localhost/report/'

DRAWPILE_READONLY_SITE = False
