SECRET_KEY = ''
DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'dpweb',
    }
}

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
#EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'

# Discord webhook URL for site admin notifications and alerts
#ADMIN_REPORT_WEBHOOK = 'https://localhost/report/'

# Allowed frame-ancestors for Content-Security-Policy, separated by spaces.
DRAWPILE_AUTH_FRAME_ANCESTORS = 'https://web.drawpile.net'

DRAWPILE_READONLY_SITE = False

# Keys that allow access to /api/ext-bans. Should be plain, random strings, one
# per client so that they can be revoked. Leave a comment which key is for whom.
DRAWPILE_EXT_BANS_KEYS = [
]

# Maximum number of total emails allowed to be sent in 24 hours.
DRAWPILE_EMAIL_MAX_TOTAL_PER_DAY = 50
# Maximum number of total emails allowed to be sent in one hour.
DRAWPILE_EMAIL_MAX_TOTAL_PER_HOUR = 15
# Maximum number emails allowed to be sent in one hour to a single address.
DRAWPILE_EMAIL_MAX_ADDRESS_PER_HOUR = 3

# Rejected usernames and email addresses.
DRAWPILE_USERNAME_REJECTIONS = []
DRAWPILE_EMAIL_REJECTIONS = []

# CORS Headers
# Allow requests from the web client.
CORS_ALLOWED_ORIGINS = ["https://web.drawpile.net"]
