{% extends "base.html" %}
{% load static %}

{% block extrascripts %}<script src="{% static "js/invite.min.js" %}"></script>{% endblock %}

{% block title %}Drawpile Session - {{ block.super }}{% endblock %}

{% block main %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="content is-large has-text-centered">
                    <p id="invite-link-title">Join a Drawpile session at {{host}}</p>
                </div>
                {% if nsfm %}
                    <article class="message is-danger">
                        <div class="message-body">
                            <span class="fas fa-exclamation-triangle"></span>
                            This session indicates that its contents are <strong>🔞 not suitable for minors</strong> (NSFM). You must be over the age of 18 and be allowed to consume adult content to proceed.
                        </div>
                    </article>
                {% endif %}
                {% if needs_password %}
                    <noscript id="invite-needs-password">
                        <article class="message is-info">
                            <div class="message-body">
                                <span class="fas fa-lock"></span>
                                This session requires a password to join.
                            </div>
                        </article>
                    </noscript>
                {% endif %}
            </div>
        </div>
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="field">
                    <div class="control is-expanded">
                        <input id="invite-link-input" type="text" class="input is-medium" value="{{ url }}" readonly>
                    </div>
                </div>
                <div class="field initial-fade-in">
                    <button id="invite-link-copy-button" class="button is-medium is-fullwidth">
                        <span class="icon">
                            <i class="fa fa-copy"></i>
                        </span>
                        <span>Copy Join URL</span>
                    </button>
                </div>
                <div id="invite-section-open" class="field initial-fade-in is-hidden">
                    <a id="invite-link-open" class="button is-primary is-medium is-fullwidth" href="{{ url }}">
                        <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>Open in Drawpile</span>
                    </a>
                </div>
                {% if web_url %}
                    <div class="field initial-fade-in">
                        <a id="invite-link-web" class="button is-link is-medium is-fullwidth" href="{{ web_url }}" target="_blank">
                            <span class="icon">
                                <i class="fas fa-globe"></i>
                            </span>
                            <span>Join via Web Browser</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="columns initial-fade-in">
            <div class="column is-half is-offset-one-quarter">
                <div class="content is-medium has-text-centered">
                    <p>
                        {% if web_url %}
                            You don't need to install anything if you join via Web browser. If you want to use the desktop or mobile application, you can <a href="/download/{% if needs_beta %}#Beta{% endif %}" target="_blank">download&nbsp;it&nbsp;here</a>.
                        {% else %}
                            If you don't have Drawpile yet, you can <a href="/download/" target="_blank">download&nbsp;it&nbsp;here</a>.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="columns initial-fade-in">
            <div class="column is-half is-offset-one-quarter">
                <div class="content">
                    <p>
                        Drawpile isn't responsible for what's going on in the session behind the link above. This page just provides a shortcut for convenience.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <input id="invite-link-checked" type="hidden" value="">
</section>

{% endblock main %}
