<!DOCTYPE html>{% load static page_tags %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block extrameta %}{% endblock %}
	<title>{% block title %}Drawpile{% endblock %}</title>
	<link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
	<link rel="stylesheet" href="{% static "css/styles.css" %}">
	<link rel="stylesheet" href="{% static "fontawesome/css/all.min.css" %}">
	<link rel="icon" type="image/png" href="{% static "favicon/16x16.png" %}" sizes="16x16">
	<link rel="icon" type="image/png" href="{% static "favicon/32x32.png" %}" sizes="32x32">
	<link rel="icon" type="image/png" href="{% static "favicon/48x48.png" %}" sizes="48x48">
	<link rel="icon" type="image/png" href="{% static "favicon/64x64.png" %}" sizes="64x64">

	{% block extrahead %}{% endblock %}
</head>
<body>

{# MAIN NAVIGATION BAR #}
<div class="container">
	<nav class="navbar">
		<div class="navbar-brand">
			<h1 class="navbar-item"><a href="/"><img src="{% static "images/logo.png" %}" alt="Drawpile" width="400" height="100"></a></h1>
			<button id="navbar-toggle" class="button navbar-burger">
				<span></span><span></span><span></span>
			</button>
		</div>{# /.navbar-brand #}

		<div id="navbar-menu" class="navbar-menu">
			<div class="navbar-start">
				{% navilink '/news/' 'News' classes='navbar-item' %}
				{% navilink '/about/' 'About' classes='navbar-item' %}
				{% navilink '/download/' 'Download' classes='navbar-item' %}
				{% navilink '/help/' 'Help' classes='navbar-item' %}
				{% navilink '/communities/' 'Communities' classes='navbar-item' %}
			</div>
			<div class="navbar-end">
				{% if user.is_authenticated %}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<span class="icon"><i class="fa fa-user-circle"></i></span>
							{{ user.username }}
						</a>
						<div class="navbar-dropdown">
							<a class="navbar-item" href="/accounts/profile">Profile</a>
							{#<a class="navbar-item" href="{% url 'communities:frontpage' %}?mine">My Communities</a>#}
							{% if user.is_staff %}<a class="navbar-item" href="/_admin/">Site Admin</a>{% endif %}
							<a class="navbar-item" href="/accounts/logout">Log out</a>
						</div>
					</div>{# /.has-dropdown #}
				{% else %}
					<div class="navbar-item">
						<a href="/accounts/login/" class="button">Log in</a>
					</div>
				{% endif %}
				</div>{# /.navbar-end #}
			</div>
		</div>
	</nav>
</div>{# /.container #}

{# MAIN CONTENT GOES HERE #}
{% block main %}{% endblock %}

{# FOOTER #}
<footer class="footer">
	<div class="container">
		<div class="columns">
			<div class="column">
				<a href="https://github.com/drawpile/" target="_blank"><span class="icon"><i class="fab fa-github"></i></span> Github</a></a><br>
				<a href="https://discord.gg/M3yyMpC" target="_blank"><span class="icon"><i class="fab fa-discord"></i></span> Discord</a></a><br>
			</div>
			<div class="column is-narrow">
				{% block copyright %}
				<p>&copy; 2014-2023 Drawpile Contributors</p>
				<p>The content of this site (unless otherwise noted) is licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-SA 4.0</a>.</p>
				{% endblock %}
			</div>
		</div>{# ./columns #}
	</div>{# ./container #}
</footer>

<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
{% block extrascripts %}{% endblock %}
</body>
</html>

