<!DOCTYPE html>{% load static page_tags %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Drawpile{% endblock %}</title>
		<link rel="stylesheet" href="{% static "css/bulma.min.css" %}">
		<link rel="stylesheet" href="{% static "css/styles.css" %}">
		<link rel="stylesheet" href="{% static "fontawesome/css/all.min.css" %}">
		{% block extrahead %}{% endblock %}
	</head>
	<body>
		{# Page refreshes hardly have any user feedback inside iframes, so #}
		{# we fade in the contents every time to indicate something happened. #}
		<section class="section initial-fade-in">
			<div class="container">
{% block main %}{% endblock %}
			</div>
		</section>
		<script src="{% static "js/scripts.min.js" %}"></script>
{% block extrascripts %}{% endblock %}
	</body>
</html>
