{% extends "base.html" %}

{% block title %}Libre Graphics Meeting{% endblock %}

{% block main %}
<section class="section">
    <div class="container content">
        <h1>Libre Graphics Meeting</h1>
        <p>
            There was a Drawpile session here that ran during LGM 2024, but since the event is over now, that is closed. A link to the talks about Drawpile will be put here once the recordings of those have been uploaded by the organizers.
        </p>
        <p>
            If you want to get in contact, check out <a href="/help/">the help page</a>, it's got links to everything.
        </p>
    </div>
</section>
{% endblock main %}
