{% extends "base.html" %}

{% load static %}

{% block title %}Name Check Bot{% endblock %}

{% block main %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-three-quarters content">
                <h1>Name Check Bot</h1>
                <p>
                    Short answer: don't worry, you probably just didn't <strong>mark your session not suitable for minors (NSFM)</strong>. You can do that by ticking the checkbox either when hosting the session or in a running session by clicking on Session at the top and then going into Settings.
                </p>
                <p><a href="{% static "images/nsfm.png" %}"><img src="{% static "images/nsfm.png" %}" alt="Marking a session NSFM"></a></p>
                </p>
                <p>
                   The name check bot will automatically detect unacceptable or misleading session titles, as well as usernames in public sessions. Session names show up in public, even for personal sessions with a password. Drawpile gets used in schools and such, so the check is pretty strict if you don't mark your session NSFM.
                </p>
                <p>
                    The name check bot <strong>will never ban you</strong> and <strong>doesn't analyze what you're drawing.</strong> It only takes care of public names so that the human server admins don't need to. It sometimes gets stuff wrong, sorry about that, we try to fix it when it happens.
                </p>
                <p>
                     We know it's possible to circumvent the name check bot if you try hard enough. Please don't do that, even if you disagree with what the bot considers unacceptable. A human server admin can see that you're intentionally breaking the rules and <strong>will</strong> ban you for it.
                </p>
                <p>
                    When you use the public Drawpile server, you have to follow its rules. <a href="/communities/drawpile.net/ccg/">You can read them here.</a> If you disagree with the rules on the public server, you can <a href="https://docs.drawpile.net/help/server/dedicatedserver">set up your own server</a> instead and make your own rules. If you need help doing this, check out <a href="/help/">the help page</a>!
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
