{% extends "base.html" %}

{% block title %}Maintenance{% endblock %}

{% block main %}
<section class="section">
    <div class="container content">
        <h1>Maintenance</h1>
        <p>
            The website is currently undergoing maintenance. Functionality like
            account registration, changes to accounts, community management and
            others are currently not available.
        </p>
        <p>
            The site should be back to full functionality in less than an hour!
        </p>
    </div>
</section>
{% endblock main %}
