{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Sign up - {{ block.super }}{% endblock %}

{% block main %}

<section class="section">
<div class="container">

<div class="columns">
<div class="column is-half is-offset-one-quarter">

	{% if noToken %}
	<div class="message is-link">
		<div class="message-body">
			<div class="content">
				<p>
					A confirmation link has been sent to your email address. Click
					on the link inside to finish the signup process.
				</p>
				<p>
					It may take a few minutes for the email to arrive and it may
					land in your spam folder. If it doesn't arrive at all, <a
					href="/help/" target="_blank">ask for help on Discord or
					IRC</a>. An admin can send out the confirmation link
					manually.
				</p>
			</div>
		</div>
	</div>

	{% else %}
	<h2 class="title has-text-centered">Create a drawpile.net account</h2>

	<form method="POST" action="{% url 'users:finish-signup' %}" class="disable-button-on-submit">
		{% if form.non_field_errors %}
		<div class="notification is-danger">{{ form.non_field_errors }}</div>
		{% elif tokenError %}
		<div class="notification is-danger">{{ tokenError }}</div>
		{% endif %}

		{% if not tokenError %}

		<div class="field">
			<div class="control has-icons-left" title="Username">
				<input class="input is-large" type="text" disabled value="{{ token.name }}">
				<span class="icon is-left"><span class="fa fa-at"></span></span>
			</div>
		</div>{# /.field #}

		<div class="field">
			<div class="control has-icons-left" title="Email">
				<input class="input is-large" type="text" disabled value="{{ token.email }}">
				<span class="icon is-left"><span class="fa fa-envelope"></span></span>
			</div>
		</div>{# /.field #}

		<div class="field">
			<div class="control has-icons-left">
				{% render_field form.password class+="input is-large" placeholder="Choose a password" %}
				<span class="icon is-left"><span class="fa fa-lock"></span></span>
			</div>
			{% if form.errors.password %}<div class="help is-danger">{{ form.errors.password }}</div>{% endif %}
		</div>{# /.field #}

		<div class="content">
			<p>Choose a password for your account to finish signing up.</p>
		</div>

		{{ form.token }}
		<input type="submit" class="button is-fullwidth is-link is-large" value="Create account">
		{% csrf_token %}

		{% endif %}
	</form>
	{% endif %}
</div> {# ./column #}

</div> {# ./columns #}

</div>{# ./container #}
</section>

{% endblock %}

