{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Sign in - {{ block.super }}{% endblock %}

{% block main %}

<section class="section">
<div class="container">

<div class="columns">
<div class="column is-half is-offset-one-quarter">

	<h2 class="title has-text-centered">Sign in</h2>

	<form method="POST" action="{% url 'users:login' %}" class="disable-button-on-submit">
		{% if form.non_field_errors %}
		<div class="notification is-danger">{{ form.non_field_errors }}</div>
		{% endif %}

		<div class="field">
			<div class="control has-icons-left">
				{% render_field form.username class+="input is-large" placeholder="Username or email" %}
				<span class="icon is-left"><span class="fa fa-at"></span></span>
			</div>
			{% if form.errors.username %}<p class="help is-danger">{{ form.errors.username }}</p>{% endif %}
		</div>

		<div class="field">
			<div class="control has-icons-left">
				{% render_field form.password class+="input is-large" placeholder="Password" %}
				<span class="icon is-left"><span class="fa fa-lock"></span></span>
			</div>
			{% if form.errors.password %}<p class="help is-danger">{{ form.errors.password }}</p>{% endif %}
		</div>

		<div class="content">
			<p>If you don't have a drawpile.net account yet, you can <a href="{% url 'users:signup' %}">sign up here</a>.</p>
			<p>If you have forgotten your password, you can <a href="{% url 'users:password_reset' %}">reset it here</a>.</p>
			<p>Accounts are deleted after one year of inactivity.</p>
		</div>

		<input type="submit" class="button is-fullwidth is-link is-large" value="Sign in">
		{% csrf_token %}
	</form>

</div> {# ./column #}

</div> {# ./columns #}

</div>{# ./container #}
</section>

{% endblock %}

