{% extends "registration/reset_password_base.html" %}

{% load widget_tweaks %}

{% block main_content %}
	<form method="POST" action="{% url 'users:password_reset' %}" class="disable-button-on-submit">
		{% if form.non_field_errors or form.errors.program %}
			{% if form.non_field_errors %}
			<div class="notification is-danger">{{ form.non_field_errors }}</div>
			{% endif %}
			{% if form.errors.program %}
			<div class="notification is-danger">Spam protection.</div>
			{% endif %}
		{% else %}
		<div class="content">
			<p>Forgot your password? Enter your email address below and a reset link will be sent to you.</p>
		</div>
		{% endif %}

		<div class="field">
			<div class="control has-icons-left">
				{% render_field form.email class+="input is-large" placeholder="Email" %}
				<span class="icon is-left"><span class="fa fa-envelope"></span></span>
			</div>
			{% if form.errors.email %}<div class="help is-danger">{{ form.errors.email }}</div>{% endif %}
		</div>{# /.field #}

		{# Prevent spam, see login form. #}
		<div id="program-field" class="field">
			<label class="label" for="{{ form.program.auto_id }}">Spam protection</label>
			<div class="control">
				{% render_field form.program class+="input" %}
			</div>
			{% if form.errors.program %}<div class="help is-danger">{{ form.errors.program }}</div>{% endif %}
			<p class="help">Please enter the name of this drawing program into the field above (it's called Drawpile.)</p>
		</div>
		<script>
			(function () {
				const programField = document.querySelector("#program-field");
				programField.style.display = "none";
				window.setTimeout(() => {
					programField.querySelector("input").value = "Drawpile";
				}, 1234);
			})();
		</script>

		<div class="content">
			<p>Note that accounts are deleted after one year of inactivity.</p>
		</div>

		<input type="submit" class="button is-fullwidth is-link is-large" value="Reset my password">
		{% csrf_token %}
	</form>
{% endblock %}
