{% extends "registration/reset_password_base.html" %}

{% load widget_tweaks %}

{% block main_content %}
<div class="message is-link">
	<div class="message-body">
		If the address you entered is associated with an account, an email will be sent to it with a password reset link. If you do not receive the mail, make sure you entered the address correctly and check your spam folder. Note that accounts are deleted after one year of inactivity, so if that happened, you have to <a href="{% url 'users:signup' %}">sign up again</a> instead.
	</div>
</div>
{% endblock %}
