{% extends "registration/reset_password_base.html" %}

{% load widget_tweaks %}

{% block main_content %}
<div class="message is-link">
	<div class="message-body">
		A password reset link was sent to the address you entered.
		If you do not receive the mail, make sure you entered the address correctly,
		and check your spam folder. If you're not sure if you've already registered
		with this address, you can try signing up again.
	</div>
</div>

</div> {# ./column #}

</div> {# ./columns #}

</div>{# ./container #}
</section>

{% endblock %}

