{% extends "registration/reset_password_base.html" %}

{% load widget_tweaks %}

{% block main_content %}
	<form method="POST" action="{% url 'users:password_reset' %}" class="disable-button-on-submit">
		<div class="field">
			<p>Forgotten your password? Enter your email address below and a reset link
			will be sent to you.</p>
		</div>

		<div class="field">
			<div class="control">
				{% render_field form.email class+="input" placeholder=form.email.label %}
			</div>
			{% if form.errors.email %}<div class="help is-danger">{{ form.errors.email }}</div>{% endif %}
		</div>{# /.field #}

		<input type="submit" class="button is-fullwidth is-link" value="Reset my password">
		{% csrf_token %}
	</form>

</div> {# ./column #}

</div> {# ./columns #}

</div>{# ./container #}
</section>

{% endblock %}

