{% extends "registration/reset_password_base.html" %}

{% load widget_tweaks %}

{% block main_content %}
	{% if validlink %}

	<form method="POST" class="disable-button-on-submit">
		<div class="field">
			<div class="control has-icons-left">
				{% render_field form.new_password1 class+="input is-large" placeholder="New password" %}
				<span class="icon is-left"><span class="fa fa-unlock"></span></span>
			</div>
			{% if form.errors.new_password1 %}<div class="help is-danger">{{ form.errors.new_password1 }}</div>{% endif %}
		</div>{# /.field #}

		<div class="field">
			<div class="control has-icons-left">
				{% render_field form.new_password2 class+="input is-large" placeholder="Repeat new password" %}
				<span class="icon is-left"><span class="fa fa-unlock-alt"></span></span>
			</div>
			{% if form.errors.new_password2 %}<div class="help is-danger">{{ form.errors.new_password2 }}</div>{% endif %}
		</div>{# /.field #}

		<input type="submit" class="button is-fullwidth is-link" value="Change my password">
		{% csrf_token %}
	</form>

	{% else %}
		<div class="notification is-danger">
			The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
		</div>
	{% endif %}
{% endblock %}
