{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Sign up - {{ block.super }}{% endblock %}

{% block main %}

<section class="section">
<div class="container">

<div class="columns">
<div class="column is-half is-offset-one-quarter">

	<h2 class="title has-text-centered">Create a Drawpile.net account</h2>

	<form method="POST" action="{% url 'users:signup' %}">
		{% if form.non_field_errors %}
		<div class="notification is-danger">{{ form.non_field_errors }}</div>
		{% endif %}

		<div class="field">
			<label class="label" for="{{ form.username.auto_id }}">{{ form.username.label }}</label>
			<div class="control">
				{% render_field form.username class+="input" %}
			</div>
			{% if form.errors.username %}<div class="help is-danger">{{ form.errors.username }}</div>{% endif %}
		</div>{# /.field #}

		<div class="field">
			<label class="label" for="{{ form.email.auto_id }}">Email address</label>
			<div class="control">
				{% render_field form.email class+="input" %}
			</div>
			{% if form.errors.email %}<div class="help is-danger">{{ form.errors.email }}</div>{% endif %}
			<p>Your email address will only be used for notification and user profile management purposes.
			It will not be shown to other users on this site or shared with third parties. Accounts are
			deleted after 1 year of inactivity.</p>
		</div>{# /.field #}

		<div class="field">
			<div class="control">
				<label class="checkbox">
					{{ form.accept_tos }}
					I accept the <a class="toslink" href="{% url 'users:tos' %}" target="_blank">terms of service</a>
				</label>
			</div>
			{% if form.errors.accept_tos %}<div class="help is-danger">{{ form.errors.accept_tos }}</div>{% endif %}
		</div>{# /.field #}

		<div class="field">
			<p>A link to activate your account will be sent to the email address.</p>
			<p>If you already registered an account, but forgotten your password, you can <a href="{% url 'users:password_reset' %}">reset it here</a>.</p>
		</div>

		<input type="submit" class="button is-fullwidth is-link is-large" value="Sign up">
		{% csrf_token %}
	</form>

</div> {# ./column #}

</div> {# ./columns #}

</div>{# ./container #}
</section>

{% endblock %}

