<!DOCTYPE html
<html>
<head>
	<title>Terms of Services and Privacy Policy - Drawpile.net</title>
</head>
<body>

<h1>Terms of Service</h1>

By creating an account at drawpile.net, you agree to the following terms:

<h2>General</h2>

<ul>
	<li>This website uses a session cookie to enable user logins.</li>
	<li>This website contains user submitted content. User submitted content does not represent the views or opinions of drawpile.net.</li>
	<li>The terms of service or privacy policy can be modified at any time.</li>
</ul>

<h2>User submitted content</h2>
<ul>
	<li>You must own the copyright to the content you upload to this site, or have a license to do so.</li>
	<li>You retain all copyright, but grant drawpile.net the license to store and distribute the content uploaded by you.</li>
	<li>Uploaded images should be either drawings made at least in part using Drawpile or related to Drawpile in some other manner.</li>
	<li>Mature content must be tagged as such.</li>
	<li>Offensive content, such as racist, sexists or homophobic, is prohibited.</li>
	<li>Illegal content, especially images depicting underage characters in a sexual context, is strictly prohibited.</li>
</ul>

<h1>Privacy Policy</h1>

<p>To protect your privacy, Drawpile.net collects the minimum amount of information necessary
for the functioning of the web site.</p>

<p>What we collect passively:</p>
<ul>
	<li>The standard web server logs: your IP address, user agent string and the pages you have visited</li>
</ul>

<p>Information submitted by you:</p>
<ul>
	<li>Session announcements</li>
	<li>Your email address</li>
	<li>Your usernames</li>
	<li>Submitted content such as gallery images and comments</li>
</ul>

<p>Your email address is used only internally for verifying your user account,
password recovery and notifications. It is not shown publicly or shared with
3rd parties, unless legally required by authorities.</p>

</body>
</html>

