{% extends "users/base.html" %}

{% block profile_subtitle %}Account details{% endblock %}

{% block profile_main %}

<div class="message">
	<div class="message-header">Email address</div>
	<div class="message-body">
		<div class="content">
			<p>{{ user.email }}</p>
		</div>
		<div class="field">
			<div class="control">
				<a href="{% url 'users:profile-emailchange' %}" class="button is-danger">Change</a>
			</div>
		</div>
	</div>
</div>

<div class="message">
	<div class="message-header">Delete account</div>
	<div class="message-body">
		<div class="content">
			<p>Delete your account and all its associated data.</p>
		</div>
		<div class="field">
			<div class="control">
				<a href="{% url 'users:delete-account' %}" class="button is-danger">Delete account</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}

