{% extends "users/base.html" %}

{% load widget_tweaks %}

{% block profile_subtitle %}Account deletion{% endblock %}

{% block profile_main %}

<div class="message">
	<div class="message-header">Delete account</div>
	<div class="message-body">
		<form method="post">
			{% if form.non_field_errors %}
				<div class="notification is-danger">{{ form.non_field_errors }}</div>
			{% endif %}

		<div class="field">
			<label class="label" for="{{ form.password.auto_id }}">Enter your password to confirm account deletion</label>
			<div class="control">
				{% render_field form.password class+="input" %}
			</div>
			{% if form.errors.password %}<div class="help is-danger">{{ form.errors.password }}</div>{% endif %}
			<div class="content">
				<p>Warning: undeletion is not possible!</p>
				{% if tbd %}
				<p>The following things will also be deleted:</p>
				<ul>
				{% for count, label in tbd %}
					<li>{{ count }} {{ label }}</li>
				{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>{# /.field #}

		<div class="field is-grouped">
			<div class="control">
				<input type="submit" class="button is-danger" value="Delete">
			</div>
			<div class="control">
				<a href="{% url 'users:profile-account' %}" class="button is-text">Cancel</a>
			</div>
		</div>{# /.field #}

		{{ form.token }}
		{% csrf_token %}
		</form>
	</div>{# /.message-body #}
</div>

{% endblock %}

