{% extends "users/base.html" %}

{% load widget_tweaks static %}

{% block profile_subtitle %}Gallery Profile{% endblock %}

{% block profile_main %}

<div class="message">
	<div class="message-body">
		<form method="POST" enctype="multipart/form-data" action="{% url 'users:profile-gallery' %}">
		
			<div class="field">
				<label class="label">Avatar</label>
					<figure class="image is-64x64">
					{% if object.avatar %}
						<img src="{{ object.avatar.url }}" alt="">
					{% else %}
						<img src="{% static "images/avatar-placeholder.jpeg" %}" alt="">
					{% endif %}
				</figure>
				<div class="control">
					<p><input type="file" name="avatar"> (PNG or JPEG, max dimensions 64x64)</p>
					{% if object.avatar %}
					<p><label><input type="checkbox" name="avatar-clear"> Remove</label></p>
					{% endif %}
				</div>
				{% if form.errors.avatar %}
				<div class="help is-danger">{{ form.errors.avatar }}</div>
				{% endif %}
			</div>

			<div class="field">
				<label class="label">User page description</label>
				<div class="control">
					{% render_field form.bio class+="textarea" rows=3 placeholder=field.label %}
				</div>
				{% if field.errors %}<div class="help is-danger">{{ form.bio.errors }}</div>{% endif %}
				<div class="help">You can write a short description of yourself here to show on your gallery page. You may include links to your DeviantArt, Tumlbr, etc. galleries.</p>
			</div>{# /.field #}

			<div class="field">
				<label class="label">Gallery Viewing Options</label>
				<div class="control">
					<label>{{ form.show_nsfw }} Show NSFW submissions</label>
				</div>
			</div>{# /.field #}

			<div class="field is-grouped">
				<div class="control">
					<button class="button is-link">Save</button>
				</div>
			</div>

			{% csrf_token %}
		</form>
	</div>
</div>

{% endblock %}

