{% extends "users/base.html" %}

{% load widget_tweaks %}

{% block profile_subtitle %}Change password{% endblock %}

{% block profile_main %}

<div class="message">
	<div class="message-body">
		<form method="post" class="disable-button-on-submit">
			{% if form.non_field_errors %}
			<div class="notification is-danger">{{ form.non_field_errors }}</div>
			{% endif %}
			{% for field in form %}
			<div class="field">
				<div class="control">
					{% render_field field class+="input" placeholder=field.label %}
				</div>
				{% if field.errors %}<div class="help is-danger">{{ field.errors }}</div>{% endif %}
			</div>{# /.field #}
			{% endfor %}

			<div class="field">
				<div class="control">
					<input type="submit" value="Change password" class="button is-danger">
				</div>
			</div>{# /.field #}
			{% csrf_token %}
		</form>
	</div>
</div>

{% endblock %}

