{% extends "users/base.html" %}

{% load static %}

{% block profile_subtitle %}Usernames{% endblock %}

{% block extrahead %}{{ block.super }}
<meta name="max-users" content="{{ max_users }}">
{% endblock %}

{% block extrascripts %}<script src="{% static "js/manage_usernames.js" %}" type="module"></script>{% endblock %}

{% block profile_main %}

<div class="message">
	<div class="message-body">
		<div class="content">
			<p>Here you can manage the names to use on the public server and this web site.
			Setting the Mod flag activates moderator privileges ({% if perms.dpauth.moderator %}you have a global mod status{% else %}you currently do not have any{% endif %}) for that username.</p>
			<p>Note that alternative usernames are not hidden! If you need alts for privacy, you must register
			a separate account with another email address.</p>
		</div>
		<div id="username-list"></div>
	</div>
</div>

{% endblock %}

