{% extends "users/base.html" %}

{% load static %}

{% block profile_subtitle %}Usernames{% endblock %}

{% block extrahead %}{{ block.super }}
<meta name="max-users" content="{{ max_users }}">
{% endblock %}

{% block extrascripts %}<script src="{% static "js/manage_usernames.js" %}" type="module"></script>{% endblock %}

{% block profile_main %}

<div class="message">
	<div class="message-body">
		<div class="content">
			<p>Here you can reserve names for use on <a href="/communities/">the community servers</a> and any other Drawpile server that uses drawpile.net accounts.</p>
			<p>Note that alternative usernames are not hidden! If you need alts for privacy, you must register a separate account with another email address.</p>
			{% if mod_available %}
				<p>Setting the Mod flag activates moderator privileges for that username. {{ mod_status|capfirst }}.</p>
			{% endif %}
		</div>
		<div id="username-list" data-permissions="{{ permissions }}"></div>
	</div>
</div>

{% endblock %}

